 #xn_bar #xn_bar_menu {display:none!important;}
 #xg_head {display:none!important;}
ul.navigation.easyclear {display:none!important;}
div.likebox.likebox-ning {display:none!important;}
p.share-links.clear {display:none!important;}
div#xg_foot {display:none!important;}
div#xg_ad_below_footer.xg_ad_below_footer {display:none!important;}
