body { border: 0px double #000;
background-image: url(https://dl.dropbox.com/u/49702/images/china.jpg);
background-color: #eeeeee;
background-repeat: no-repeat;
background-position: left center;
background-attachment: fixed;
}
