body { border: 0px double #fd0e19;
background-image: url(http://api.ning.com:80/files/I7biqbcZ7GuCjSMxOG50v881ureAUYSLNYtWkCe7vwxyaFUmAmGSLVNZhd6Bcw-QafZDJkry-NBdHXwHgtOINplv-UasfH*R/jbfarrowningtips.png);
background-color: transparent;
background-repeat: repeat;
background-position: left top;
background-attachment: fixed;
}