.sprite {
    background: url(download.png) no-repeat;
}

.sprite-add-png {
    width: 128px;
    height: 128px;
    background-position: -0px -695px;
}

.sprite-business_user-png {
    width: 128px;
    height: 128px;
    background-position: -695px -556px;
}

.sprite-calculator-png {
    width: 128px;
    height: 128px;
    background-position: -695px -417px;
}

.sprite-calendar-png {
    width: 128px;
    height: 128px;
    background-position: -695px -278px;
}

.sprite-camcorder-png {
    width: 128px;
    height: 128px;
    background-position: -695px -139px;
}

.sprite-cloud_comment-png {
    width: 128px;
    height: 128px;
    background-position: -695px -0px;
}

.sprite-comments-png {
    width: 128px;
    height: 128px;
    background-position: -556px -556px;
}

.sprite-flag-red-png {
    width: 128px;
    height: 128px;
    background-position: -417px -556px;
}

.sprite-home-_1_-png {
    width: 128px;
    height: 128px;
    background-position: -278px -556px;
}

.sprite-home-_1_-png-1 {
    width: 128px;
    height: 128px;
    background-position: -139px -556px;
}

.sprite-id_card-png {
    width: 128px;
    height: 128px;
    background-position: -0px -556px;
}

.sprite-info-png {
    width: 128px;
    height: 128px;
    background-position: -556px -417px;
}

.sprite-lightbulb-png {
    width: 128px;
    height: 128px;
    background-position: -417px -417px;
}

.sprite-link-red-png {
    width: 128px;
    height: 128px;
    background-position: -278px -417px;
}

.sprite-megaphone-png {
    width: 128px;
    height: 128px;
    background-position: -139px -417px;
}

.sprite-network-png {
    width: 128px;
    height: 128px;
    background-position: -0px -417px;
}

.sprite-new-png {
    width: 128px;
    height: 128px;
    background-position: -556px -278px;
}

.sprite-newsletter-png {
    width: 128px;
    height: 128px;
    background-position: -417px -278px;
}

.sprite-page_full-png {
    width: 128px;
    height: 128px;
    background-position: -278px -278px;
}

.sprite-photo_camera-png {
    width: 128px;
    height: 128px;
    background-position: -139px -278px;
}

.sprite-question_mark-png {
    width: 128px;
    height: 128px;
    background-position: -0px -278px;
}

.sprite-rss-red-png {
    width: 128px;
    height: 128px;
    background-position: -556px -139px;
}

.sprite-search-red-png {
    width: 128px;
    height: 128px;
    background-position: -417px -139px;
}

.sprite-settings-red-png {
    width: 128px;
    height: 128px;
    background-position: -278px -139px;
}

.sprite-shopping_cart-png {
    width: 128px;
    height: 128px;
    background-position: -139px -139px;
}

.sprite-smart_phone-png {
    width: 128px;
    height: 128px;
    background-position: -0px -139px;
}

.sprite-television-png {
    width: 128px;
    height: 128px;
    background-position: -556px -0px;
}

.sprite-user-red-png {
    width: 128px;
    height: 128px;
    background-position: -417px -0px;
}

.sprite-users-png {
    width: 128px;
    height: 128px;
    background-position: -278px -0px;
}

.sprite-video-red-png {
    width: 128px;
    height: 128px;
    background-position: -139px -0px;
}

.sprite-world-red-png {
    width: 128px;
    height: 128px;
    background-position: -0px -0px;
}
