body { border: 0px double #001c5a;
background-image: url(http://api.ning.com:80/files/RcnmXRg3jI8cM39Y*mJIyxGZ4-LuQ2JXW76fpz1JhvVT4y1GcQu*Rq*vGD39yJ-9wnyZkJom56lc52k7-I*nHw__/lsubalboa.png);
background-color: #3366ff;
background-repeat: no-repeat;
background-position: left left;
background-attachment: fixed;
}