body:before{content:",";
    background-image: url('http://api.ning.com:80/files/Pwx68GFnuuBhDxHKoH3Pn-7eqzHgfLd*HjQeH0XawF3L17IDYvIfu-iDyL9ZV1d5zFAUWSP9gH7k1k1eDbW*d8jqdCwT58CL/energy.png');
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;}
	
.sheet{
border: 0px double #fd0e19;
background-color: #eae9e5;
background-repeat: repeat;
}
#DIV_1 {
    background-color: rgb(44, 62, 80);
    border-bottom-color: rgb(59, 59, 59);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-color: rgb(59, 59, 59);
    border-right-color: rgb(59, 59, 59);
    border-top-color: rgb(59, 59, 59);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: rgb(59, 59, 59);
    float: left;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    height: 205px;
    line-height: 18.200000762939453px;
    outline-color: rgb(59, 59, 59);
    overflow-wrap: break-word;
    padding-bottom: 14px;
    padding-left: 17px;
    padding-right: 19px;
    padding-top: 11px;
    text-decoration: none solid rgb(59, 59, 59);
    width: 250px;
    word-wrap: break-word;
    background: rgb(69, 104, 134) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(59, 59, 59);
    border-top: 0px none rgb(59, 59, 59);
    border-right: 0px none rgb(59, 59, 59);
    border-bottom: 0px none rgb(59, 59, 59);
    border-left: 0px none rgb(59, 59, 59);
    border-color: rgb(59, 59, 59);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal 14px/18.200000762939453px Arial, 'Helvetica Neue', Helvetica, sans-serif;
    outline: rgb(59, 59, 59) none 0px;
    padding: 11px 19px 14px 17px;
}/*#DIV_1*/

#H2_2 {
    background-image: url(http://www.edrugsearch.com/externals/images/dashLineBlog.png);
    background-position: 0px 100%;
    background-repeat: repeat-x;
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 36px;
    line-height: 26px;
    margin-bottom: 19px;
    margin-top: 0px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-bottom: 10px;
    text-decoration: none solid rgb(255, 255, 255);
    text-transform: uppercase;
    width: 250px;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0) url(http://www.edrugsearch.com/externals/images/dashLineBlog.png) repeat-x scroll 0px 100% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal bold 16px/26px Arial, Helvetica, sans-serif;
    margin: 0px 0px 19px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 10px;
}/*#H2_2*/

#A_3 {
    border-bottom-color: rgb(245, 163, 0);
    border-left-color: rgb(245, 163, 0);
    border-right-color: rgb(245, 163, 0);
    border-top-color: rgb(245, 163, 0);
    box-sizing: border-box;
    color: rgb(245, 163, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 26px;
    outline-color: rgb(245, 163, 0);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(245, 163, 0);
    word-wrap: break-word;
    border: 0px none rgb(245, 163, 0);
    border-top: 0px none rgb(245, 163, 0);
    border-right: 0px none rgb(245, 163, 0);
    border-bottom: 0px none rgb(245, 163, 0);
    border-left: 0px none rgb(245, 163, 0);
    border-color: rgb(245, 163, 0);
    font: normal normal bold 16px/26px Arial, Helvetica, sans-serif;
    outline: rgb(245, 163, 0) none 0px;
}/*#A_3*/

#SPAN_4 {
    background-image: url(http://www.edrugsearch.com/externals/images/rssBlogIcon.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    border-bottom-color: rgb(245, 163, 0);
    border-left-color: rgb(245, 163, 0);
    border-right-color: rgb(245, 163, 0);
    border-top-color: rgb(245, 163, 0);
    box-sizing: border-box;
    color: rgb(245, 163, 0);
    display: block;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    outline-color: rgb(245, 163, 0);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(245, 163, 0);
    width: 26px;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0) url(http://www.edrugsearch.com/externals/images/rssBlogIcon.png) no-repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(245, 163, 0);
    border-top: 0px none rgb(245, 163, 0);
    border-right: 0px none rgb(245, 163, 0);
    border-bottom: 0px none rgb(245, 163, 0);
    border-left: 0px none rgb(245, 163, 0);
    border-color: rgb(245, 163, 0);
    font: normal normal bold 16px/26px Arial, Helvetica, sans-serif;
    outline: rgb(245, 163, 0) none 0px;
}/*#SPAN_4*/

#DIV_5 {
    border-bottom-color: rgb(59, 59, 59);
    border-left-color: rgb(59, 59, 59);
    border-right-color: rgb(59, 59, 59);
    border-top-color: rgb(59, 59, 59);
    color: rgb(59, 59, 59);
    float: left;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    height: 150px;
    line-height: 18.200000762939453px;
    outline-color: rgb(59, 59, 59);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(59, 59, 59);
    width: 250px;
    word-wrap: break-word;
    border: 0px none rgb(59, 59, 59);
    border-top: 0px none rgb(59, 59, 59);
    border-right: 0px none rgb(59, 59, 59);
    border-bottom: 0px none rgb(59, 59, 59);
    border-left: 0px none rgb(59, 59, 59);
    border-color: rgb(59, 59, 59);
    font: normal normal normal 14px/18.200000762939453px Arial, 'Helvetica Neue', Helvetica, sans-serif;
    outline: rgb(59, 59, 59) none 0px;
}/*#DIV_5*/

#DL_6, #DL_11, #DL_16 {
    border-bottom-color: rgb(59, 59, 59);
    border-left-color: rgb(59, 59, 59);
    border-right-color: rgb(59, 59, 59);
    border-top-color: rgb(59, 59, 59);
    box-sizing: border-box;
    color: rgb(59, 59, 59);
    float: left;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    height: 40px;
    line-height: 18.200000762939453px;
    margin-bottom: 10px;
    margin-top: 0px;
    outline-color: rgb(59, 59, 59);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(59, 59, 59);
    width: 250px;
    word-wrap: break-word;
    border: 0px none rgb(59, 59, 59);
    border-top: 0px none rgb(59, 59, 59);
    border-right: 0px none rgb(59, 59, 59);
    border-bottom: 0px none rgb(59, 59, 59);
    border-left: 0px none rgb(59, 59, 59);
    border-color: rgb(59, 59, 59);
    font: normal normal normal 14px/18.200000762939453px Arial, 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(59, 59, 59) none 0px;
}/*#DL_6, #DL_11, #DL_16*/

#DT_7 {
    background-image: url(http://www.edrugsearch.com/externals/images/fbConnectIcon.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-left: 50px;
    text-decoration: none solid rgb(255, 255, 255);
    width: 118px;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0) url(http://www.edrugsearch.com/externals/images/fbConnectIcon.png) no-repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal bold 14px/40px Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 0px 50px;
}/*#DT_7*/

#SPAN_8 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    word-wrap: break-word;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal bold 14px/40px Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_8*/

#DD_9, #DD_14, #DD_19 {
    border-bottom-color: rgb(59, 59, 59);
    border-left-color: rgb(59, 59, 59);
    border-right-color: rgb(59, 59, 59);
    border-top-color: rgb(59, 59, 59);
    box-sizing: border-box;
    color: rgb(59, 59, 59);
    float: left;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    height: 40px;
    line-height: 18.200000762939453px;
    margin-left: 0px;
    outline-color: rgb(59, 59, 59);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(59, 59, 59);
    width: 82px;
    word-wrap: break-word;
    border: 0px none rgb(59, 59, 59);
    border-top: 0px none rgb(59, 59, 59);
    border-right: 0px none rgb(59, 59, 59);
    border-bottom: 0px none rgb(59, 59, 59);
    border-left: 0px none rgb(59, 59, 59);
    border-color: rgb(59, 59, 59);
    font: normal normal normal 14px/18.200000762939453px Arial, 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px;
    outline: rgb(59, 59, 59) none 0px;
}/*#DD_9, #DD_14, #DD_19*/

#A_10 {
    background-color: rgb(83, 122, 187);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 82px;
    word-wrap: break-word;
    background: rgb(83, 122, 187) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 2px 2px 2px 2px;
    font: normal normal bold 12px/40px Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_10*/

#DT_12 {
    background-image: url(http://www.edrugsearch.com/externals/images/twitterConnectIcon.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-left: 50px;
    text-decoration: none solid rgb(255, 255, 255);
    width: 118px;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0) url(http://www.edrugsearch.com/externals/images/twitterConnectIcon.png) no-repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal bold 14px/40px Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 0px 50px;
}/*#DT_12*/

#DFN_13, #DFN_18 {
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(255, 255, 255);
    word-wrap: break-word;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal bold 14px/40px Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DFN_13, #DFN_18*/

#A_15 {
    background-color: rgb(120, 202, 238);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 82px;
    word-wrap: break-word;
    background: rgb(120, 202, 238) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 2px 2px 2px 2px;
    font: normal normal bold 12px/40px Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_15*/

#DT_17 {
    background-image: url(http://www.edrugsearch.com/externals/images/googleConnectIcon.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    padding-left: 50px;
    text-decoration: none solid rgb(255, 255, 255);
    width: 118px;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0) url(http://www.edrugsearch.com/externals/images/googleConnectIcon.png) no-repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font: normal normal bold 14px/40px Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 0px 50px;
}/*#DT_17*/

#A_20 {
    background-color: rgb(233, 99, 73);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    outline-color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 82px;
    word-wrap: break-word;
    background: rgb(233, 99, 73) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 2px 2px 2px 2px;
    font: normal normal bold 12px/40px Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_20*/

