body { border: 0px double #000;
background-image: url(https://dl.dropbox.com/u/49702/images/safrica.jpg)no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
background-color: transparent;
}
