html.xg_theme { border: 0px double #fd0e19;
background-image: url(http://api.ning.com:80/files/8KGb8vxx0YkP9ieRE61mzye5qFOBGoGlZVnwjlDkbJLKiLZ59xE*ROq2rmpMuW9YrSEA1SuDgc82whR-yjEVC4bWDcsx3yCB/Table_of_Surveying.jpg);
background-color: transparent;
background-repeat: repeat;
background-position: left top;
background-attachment: fixed;
}
.sheet{
border: 0px double #fd0e19;
background-image: url(http://api.ning.com:80/files/8KGb8vxx0YlGpj0HQo3WVCxwzZzyal498j-CjZSv9KRH6KxbJ5RWWaqzoHJDnqd7zMVvkV-DBIri44Alv2DZXFYbZ4pSI0uN/module_transparent_bg_2.png);
background-color: transparent;
background-repeat: repeat;
}

