body { border: 0px double #000;
background-image: url(http://api.ning.com:80/files/bJVgM2FybcpmxpSAefEjCF8dBwQFTXSHB37hvg7aR7omXie4It60-IqGVEXqnfRbZsua1-W2WWk-rqRsSp9mkrZcIYEcFQ4n/studentsurveyors.jpg);
background-color: #eeeeee;
background-repeat: no-repeat;
background-position: left center;
background-attachment: fixed;
}
.xg_widget_groups .xg_headline .tb ul.byline li{
display:none !important;
}
.xg_widget_groups .dy-avatar-64{
display:none;
}
.myspan {
    display: block;
}
