body {
  background: #292d33;
  font: 12px/20px Arial;
  padding: 50px;
  color: #ccc;
}

h1 {
  clear: both;
  font-weight: bold;
  font-size: 16px;
  margin: 80px 0 15px;
}

p {
  margin: 0 0 5px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

a:hover {
  color: #ddd;
}

.menu a {
  float: left;
  display: block;
}

.drop-down a {
  float: none;
  min-width: 90px;
}

.menu a {
  display: block;
  padding: 10px 15px;
}

.drop-down-menu {
  float: left;
  display: block;
}

.menu-title {
  cursor: default;
  padding: 10px 15px;
}

.info {
  margin: 20px 0;
  opacity: 0.5;
  font-size: 9px;
}

.info p { text-transform:uppercase; }

.activate {
  display: none;

  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin: 0 0 0 -15px;
  opacity: 0;
}

@media only screen and (min-width: 800px) {

  .drop-down-menu:hover .drop-down {
    display: block;
  } 

  .drop-down {
    position: absolute;
  }

}

@media only screen and (max-width: 799px) {

  body {
    padding: 0;
  }

  .info {
    padding: 0 15px;
  }

  .menu a, .drop-down-menu  {
    float: none;
  }

  .activate {
    display: block;
  }

}


/* Skin */

.menu a, .drop-down-menu {
  background: #993d3d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d05757), color-stop(100%,#993d3d));
    background: -moz-linear-gradient(top, #d05757 0%, #993d3d 100%);
}

.menu a:hover, .drop-down-menu:hover {
  background: #5a6470;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#495261), color-stop(100%,#38404b));
  background: -moz-linear-gradient(top, #495261 0%, #38404b 100%);
}

.drop-down a {
  background: #222;
}

.drop-down a:hover {
  background: #111;
}

@media only screen and (min-width: 800px) {

  .first {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .last {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .drop-down .last {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

}

@media only screen and (max-width: 799px) {

  .menu  {
    background: #993d3d;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d05757), color-stop(100%,#993d3d));
    background: -moz-linear-gradient(top, #d05757 0%, #993d3d 100%);
  }

  :checked ~ .menu-title {
    background: #495261;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#495261), color-stop(100%,#38404b));
    background: -moz-linear-gradient(top, #495261 0%, #38404b 100%);
  }

  .menu a, .drop-down-menu {
    background: none;
  }

  .drop-down a {
    background: #222;
  }

}


/* IE */

.ie8 .drop-down-menu:hover .drop-down { display: block; } 
.ie8 .drop-down { position: absolute; }
