body:before{content:",";
    background-image: url('http://api.ning.com:80/files/*tHd*uipNJDe8N4Z5Hi7u9BsLJeXe*LDIhY5LahgI9nd3z4X1JhMLwnOKtp5fGTrdMxnSAmWlyDHAts7nqPoNkkQyGU0ba-S/planssurvey.jpg');
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;}
	
.sheet{
border: 0px double #fd0e19;
background-color: #eae9e5;
background-repeat: repeat;
}
@media screen and (min-width: 481px) {
  .button.button-iconic > .icon {
    width: auto;
    overflow: visible;
    vertical-align: top;
  }
}
.button.button-iconic:hover,
.button.button-iconic.is-selected {
  background-image: none;
  background-color: #1f1f1f;
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
.button-tiny {
  display: inline-block;
}
.button-tiny a {
  padding: 3px 5px;
  font-size: 11px;
  border-radius: 2px;
  border: 1px solid #bbb378;
  color: #bbb378;
  text-decoration: none;
}
.button-tiny a:hover,
.button-tiny a.is-selected {
  border: 1px solid #bbb378;
  background-color: #bbb378;
  color: #111111;
  text-decoration: none;
}
.buttonGroup {
  margin-top: 10px;
}
.buttonGroup::before {
  margin-bottom: 12px;
  display: block;
  content: "";
  height: 0;
  border-top: 1px solid #cccccc;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  vertical-align: middle;
}
.subnavline {
border: none;
margin-top: 10px;
} 

.groupHeader-nav li a {
background: none repeat scroll 0 0 #1b1b1b;
border: medium none;
border-radius: 3px;
color: #fff;
margin-right: 5px;
margin-bottom:1px;
}

.groupHeader-nav li a:hover {
background: none repeat scroll 0 0 #a12712;
color: #fff;
}

.groupHeader-nav li.groupHeader-tab.current a {
background: #a12712;
color: #FFFFFF;
text-decoration: none;
}
.subnavline > li:hover > a, .subnavline > li:hover > span, .subnavline > li.current > a, .subnavline > li.current > span{
border:none;
}

.subnavline > li > a, .subnavline > li > span{
border:none;
}

.section-blogBundle-6651893-Bundle-1201212 .module-header {
    background: none repeat scroll 0 0 #EFC13C;
}

.section-blogBundle-6651893-Bundle-1201212 .module-name {
    color: #333333;
    text-shadow: 1px 1px #FFFFFF;
}

@media only screen and (min-width: 300px) and (max-width: 769px)  {
.banner-info > h2{color: #fff; background:rgba(0,0,0,0.80);}
}

SPAN.poweredBy-text{ margin-left:20px }
.footer-left > a{font-style:italic;color:white!important }
.footer-left > a:hover{color:gold!important }