body { border: 0px double #001c5a;
background-image: url(http://api.ning.com/files/mUUm0Veg4I2GqGmgYOIVtYI8dX31JH6RDDuk3SKYOHbR9hNJUvMon-4gFMrbwXcAbrEqCPK5l-qQi22um6oPt6JbuND4ZN7s/Texas.jpg);
background-color: transparent;
background-repeat: no-repeat;
background-position: left center;
background-attachment: fixed;
}
 #xn_bar #xn_bar_menu {display:none!important;}
 #xg_head {display:none!important;}