body { border: 0px double #001c5a;
background-image: url(http://www.tommycondons.com/images/new_back.jpg);
background-color: #000000;
background-repeat: no-repeat;
background-position: left center;
background-attachment: fixed;
}