.sprite {
    background: url(https://dl.dropbox.com/u/49702/images/universitysprite.png) no-repeat;
}

.sprite-level-1-surveyors-png {
    width: 340px;
    height: 63px;
    background-position: -700px -370px;
}

.sprite-level-10-surveyors-png {
    width: 340px;
    height: 63px;
    background-position: -700px -296px;
}

.sprite-level-2-surveyors-png {
    width: 340px;
    height: 63px;
    background-position: -702px -222px;
}

.sprite-level-3-surveyors-png {
    width: 340px;
    height: 63px;
    background-position: -702px -148px;
}

.sprite-level-4-surveyors-png {
    width: 340px;
    height: 63px;
    background-position: -702px -74px;
}

.sprite-level-5-surveyors-png {
    width: 340px;
    height: 63px;
    background-position: -702px -0px;
}

.sprite-level-6-surveyors-png {
    width: 340px;
    height: 63px;
    background-position: -274px -688px;
}

.sprite-level-7-surveyors-png {
    width: 340px;
    height: 63px;
    background-position: -274px -614px;
}

.sprite-level-8-surveyors-png {
    width: 340px;
    height: 63px;
    background-position: -274px -540px;
}

.sprite-level-9-surveyors-png {
    width: 340px;
    height: 63px;
    background-position: -274px -466px;
}

.sprite-leveleight-png {
    width: 131px;
    height: 226px;
    background-position: -0px -0px;
}

.sprite-levelfive-png {
    width: 127px;
    height: 214px;
    background-position: -136px -466px;
}

.sprite-levelfour-png {
    width: 127px;
    height: 219px;
    background-position: -142px -232px;
}

.sprite-levelnine-png {
    width: 124px;
    height: 223px;
    background-position: -565px -232px;
}

.sprite-levelone-png {
    width: 126px;
    height: 221px;
    background-position: -565px -0px;
}

.sprite-levelseven-png {
    width: 132px;
    height: 219px;
    background-position: -286px -0px;
}

.sprite-levelsix-png {
    width: 125px;
    height: 218px;
    background-position: -0px -466px;
}

.sprite-levelten-png {
    width: 124px;
    height: 223px;
    background-position: -280px -232px;
}

.sprite-levelthree-png {
    width: 125px;
    height: 228px;
    background-position: -429px -0px;
}

.sprite-leveltwo-png {
    width: 133px;
    height: 219px;
    background-position: -142px -0px;
}

.sprite-lland-surveyors-university-png {
    width: 108px;
    height: 108px;
    background-position: -0px -296px;
}
