@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Dirt&display=swap');
.subnav-moreLink + ul {width:300px!important;background:#333;}
div.status-body.media-body {padding:15px;border-radius:10px;background:#333;}
html {
	--maxWidth: 1284px;
	scrollbar-color: linear-gradient(to bottom, #212121, #979595);
	scrollbar-width: 30px;
	background: #979595;
	color: #fff;
	overflow-x: hidden
}
img.header-logoIMG:hover {  -webkit-transition: all .5s ease-in-out; -webkit-transform: rotate(-360deg);}
div.banner-footer {padding: 5px 15px 10px 5px!important;
background: rgba(73, 60, 60, 0.9);
border-image: url(https://wesbos.com/static/whitegrit-3c286f3a0990b91b9f6bb97828dd3d2f.png) 200 / 1 / 0 round;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(73, 60, 60, 0.3);!important;border-radius:10px;}
html::-webkit-scrollbar {
	width: 15px;
	height: 20px
}
a.button.button-secondary.pull-right {font-size:0.6em!important;}
html::-webkit-scrollbar-thumb {
	background-image: radial-gradient( circle farthest-corner at 10.6% 22.1%, rgba(206, 18, 18, 1) 0%, rgba(122, 21, 21, 1) 100.7%);
	;
	border-radius: 20px;
	-webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
	box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25)
}
html::-webkit-scrollbar-track {
	background-image: linear-gradient( 102deg, rgba(68, 110, 92, 1) 17.4%, rgba(107, 156, 120, 1) 49.3%, rgba(154, 183, 130, 1) 83.4%, rgba(247, 237, 191, 1) 110.3%)
}
.footer-jobs {
	max-width: var(--maxWidth);
	margin: 0 auto
}
: root {
	--nav-height: 130px
}
@media (max-width: 1250px) {
	: root {
		--nav-height: 100px
	}
}
@media (max-width: 950px) {
	: root {
		--nav-height: 20px
	}
}
@-webkit-keyframes move-down {
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}
@keyframes move-down {
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}
@media (max-width: 950px) {
	body {
		padding-top: var(--nav-height)
	}
}
.footer-jobs {
	padding: 2rem 0 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}
@media (max-width: 1200px) {
	.footer-jobs {
		scrollbar-color: linear-gradient(to right, #da1b60, #ff8a00);
		scrollbar-width: 15px;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-scroll-snap-points-x: repeat(200px);
		scroll-snap-points-x: repeat(200px);
		-ms-scroll-snap-type: mandatory;
		scroll-snap-type: mandatory
	}
	.footer-jobs::-webkit-scrollbar {
		width: 15px;
		height: 15px
	}
	.footer-jobs::-webkit-scrollbar-thumb {
		background: -webkit-gradient(linear, left top, right top, from(#cc0000), to(#a12712));
		background: linear-gradient(to right, #cc0000, #a12712);
		border-radius: 15px;
		-webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
		box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25)
	}
	.footer-jobs::-webkit-scrollbar-track {
		background-image: linear-gradient( 109.6deg, rgba(250, 165, 147, 1) 11.2%, rgba(250, 149, 71, 1) 91.1%)
	}
}
@-webkit-keyframes sail {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
	50% {
		-webkit-transform: translateX(125vw);
		transform: translateX(125vw)
	}
	100% {
		-webkit-transform: translateX(125vw);
		transform: translateX(125vw)
	}
}
@keyframes sail {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
	50% {
		-webkit-transform: translateX(125vw);
		transform: translateX(125vw)
	}
	100% {
		-webkit-transform: translateX(125vw);
		transform: translateX(125vw)
	}
}
@-webkit-keyframes bounce {
	from {
		-webkit-transform: translateY(-5px) rotate(1.5deg);
		transform: translateY(-5px) rotate(1.5deg)
	}
	to {
		-webkit-transform: translateY(5px) rotate(-1.5deg);
		transform: translateY(5px) rotate(-1.5deg)
	}
}
@keyframes bounce {
	from {
		-webkit-transform: translateY(-5px) rotate(1.5deg);
		transform: translateY(-5px) rotate(1.5deg)
	}
	to {
		-webkit-transform: translateY(5px) rotate(-1.5deg);
		transform: translateY(5px) rotate(-1.5deg)
	}
}
@keyframes bounce {
	from {
		-webkit-transform: translateY(-5px) rotate(1.5deg);
		transform: translateY(-5px) rotate(1.5deg)
	}
	to {
		-webkit-transform: translateY(5px) rotate(-1.5deg);
		transform: translateY(5px) rotate(-1.5deg)
	}
}
@-webkit-keyframes spin {
	to {
		-webkit-transform: rotateX(360deg);
		transform: rotateX(360deg)
	}
}
@keyframes spin {
	to {
		-webkit-transform: rotateX(360deg);
		transform: rotateX(360deg)
	}
}
.footer-partners {
	background: #151514;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
	text-align: center;
	font-size: 14px;
	padding: 2rem 2rem 1rem
}
@media (max-width: 800px) {
	.footer-partners {
		grid-template-columns: 1fr
	}
}
.footer-partner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 2rem;
	border-radius: 8px;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	-webkit-box-shadow: inset 1px 1px 0 #000;
	box-shadow: inset 1px 1px 0 #000
}
.footer-partner a {
	color: #fff
}
.footer-partner img {
	display: block;
	margin: 0 auto 1rem
}
.footer-partner p {
	margin: 0;
	line-height: 1.5;
	color: #eee
}
.footer-partner-flywheel: hover {
	background: radial-gradient(circle at top right, #3f6e79, #0f0e16)
}
.footer-partner-codepen: hover {
	background-image: radial-gradient( circle 906px at 9.7% -9%, rgba(163, 0, 0, 1) 25.7%, rgba(250, 13, 13, 1) 60.5%, rgba(255, 59, 20, 1) 100.2%)
}
.footer-partner-shoptalk: hover {
	background-image: radial-gradient( circle 906px at 9.7% -9%, rgba(163, 0, 0, 1) 25.7%, rgba(250, 13, 13, 1) 60.5%, rgba(255, 59, 20, 1) 100.2%)
}
.footer-partner-shoptalk .shoptalk-img {
	width: 130px
}
.footer-subsites {
	background: #151514;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 2rem 2rem;
	grid-gap: 1rem
}
@media (max-width: 800px) {
	.footer-subsites {
		grid-template-columns: minmax(0, 1fr)
	}
	.footer-subsites a {
		white-space: normal
	}
	.footer-subsites a::after {
		display: none
	}
}
.footer-subsite {
	text-align: center;
	padding: 3rem 2rem;
	display: block;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	-webkit-box-shadow: inset 1px 1px 0 #000;
	box-shadow: inset 1px 1px 0 #000;
	border-radius: 8px
}
@media (max-width: 800px) {
	.footer-subsite {
		padding: 2rem 1rem
	}
}
.presents {
	display: block;
	font-size: .8rem;
	color: #ffffff
}
.presents strong {
	color: #ffffff
}
.footer-subsite-conferences: hover {
	background-image: radial-gradient( circle 906px at 9.7% -9%, rgba(163, 0, 0, 1) 25.7%, rgba(250, 13, 13, 1) 60.5%, rgba(255, 59, 20, 1) 100.2%)
}
.footer-subsite-serverless: hover {
	background-image: radial-gradient( circle 906px at 9.7% -9%, rgba(163, 0, 0, 1) 25.7%, rgba(250, 13, 13, 1) 60.5%, rgba(255, 59, 20, 1) 100.2%)
}
img {
	max-width: 100%;
	height: auto!important
}
.link-links {
	font-weight: 700;
	color: #7a7a8c;
	margin: 0 0 1.5rem
}
.link-links a: focus, .link-links a: hover {
	-webkit-text-fill-color: #fff!important;
	color: #fff
}
.icon-link {
	width: 20px;
	height: 12px;
	fill: #fff
}
@-webkit-keyframes ad_come_in {
	100% {
		opacity: 1
	}
}
@keyframes ad_come_in {
	100% {
		opacity: 1
	}
}
img[src*="doubleclick.net"] {
	position: absolute!important;
	top: -9999px;
	left: -9999px
}
.link-to-issue {
	border: 2px solid #312d3c;
	padding: .5rem;
	border-radius: 5px
}
@media print {
	.search, [class*=bsa], footer {
		display: none!important
	}
	body {
		background: 0 0
	}
	a, html {
		background: 0 0!important;
		color: #000!important
	}
}
footer.site-footer.footer-partners {
	background: transparent!important;
	color: #000!important
}
.dmenu {
	width: 300px;
	list-style-type: none
}
.toplevel {
	display: block;
	padding: 0 10px;
	line-height: 2;
	color: #fff;
	text-decoration: none;
	background: #cc0000
}
.toplevel: hover {
	background: #000
}
/* Dropdowns */

.dropdown {
	position: relative;
	z-index: 2000
}
.submenu {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 200px;
	list-style-type: none;
	padding-top: 2em;
	z-index: 200
}
.hover .submenu {
	display: block
}
.submenu a {
	display: block;
	padding: 5px;
	color: #000;
	text-decoration: none;
	background: white
}
div.xg_chatBar.xg_bottomBar.xg_userBar {
	background: rgba(255, 255, 255, 0.53);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
	display: flex
}
ul.footer-links {
	font-size: 0.7em!important
}
div.module-actions.cf, footer.activityFeed-footer, footer.entry-footnote {
	background: transparent!important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	line-height: 1.3;
	padding: .25em;
	margin: .25em;
	color: #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/* future proofing */
	-khtml-border-radius: 10px;
	/* for old Konqueror browsers */
}
footer {
	
background: rgba(12, 11, 11, 0.38);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.9px);
-webkit-backdrop-filter: blur(2.9px);
border: 1px solid rgba(12, 11, 11, 0.6);
	color: #fff;
	margin: 0;
	@import "https://fonts.googleapis.com/css?family=Open+Sans";
	font-family: 'Roboto', sans-serif
}
footer .centered {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between
}
footer .centered .footer-logo {
	width: 10%
}
footer .centered .footer-logo img.logo {
	padding: 30px 20px 10px 20px;
	max-width: 100%
}
footer .centered .footer-contact {
	width: 20%
}
footer .centered .footer-navigation {
	width: 60%
}
footer .centered .footer-navigation .footer-links-holder {
	width: 33.33333%;
	position: relative;
	float: left;
	margin: 0
}
footer .centered .footer-navigation .footer-links-holder .footer-links {
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-transition: max-height .5s;
	transition: max-height .5s
}
footer .bottom-bar a {
	color: #000
}
footer .bottom-bar {
	position: relative;
	color: #000;
	text-align: center;
	font-size: .6em;
	text-transform: uppercase;
	background: #eee;
	padding: 15px 0
}
.form-field label {
	color: red
}
@media only screen and (max-width: 749px) {
	footer .centered {
		flex-wrap: wrap
	}
	footer .centered .footer-logo {
		max-width: 250px;
		width: 50%
	}
	footer .centered .footer-contact {
		width: 50%;
		padding: 0 20px
	}
	footer .centered .footer-navigation {
		width: 100%
	}
	footer .centered .footer-navigation .footer-links-holder {
		padding: 0 20px
	}
}
/* Responsive Mobile Sizes */

@media only screen and (max-width: 500px) {
	footer .centered .footer-logo {
		width: 100%;
		margin: 0 auto
	}
	footer .centered .footer-contact {
		width: 100%
	}
	footer .centered .footer-navigation .footer-links-holder {
		width: 100%;
		padding: 0
	}
	footer .centered .footer-navigation .footer-links-holder h3 {
		margin: 0;
		padding: 10px 20px;
		border-top: #000 1px solid;
		cursor: pointer
	}
	footer .centered .footer-navigation .footer-links-holder .footer-links {
		max-height: 0;
		overflow: hidden;
		padding: 0 20px
	}
	footer .centered .footer-navigation .footer-links-holder.active h3::after {
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg)
	}
	footer .centered .footer-navigation .footer-links-holder.active .footer-links {
		max-height: 10000px
	}
}

/* Typography */

footer h3 {
	font-weight: lighter;
	font-style: italic;
	margin-bottom: 0
}
footer p, footer li {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin: 10px 0
}
footer a {
	color: #000!important;
	text-decoration: none;
	-webkit-transition: color .5s, background .5s;
	transition: color .5s, background .5s
}
footer a: hover {
	color: #65c2ed
}
/* Misc CSS */

.clearfix: before, .clearfix: after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	clear: both
}
ul.spicesocialwidget {
	/*float: right;*/
	margin: 140px 0;
	padding: 0;
	width: auto;
	height: 32px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
	'Work Sans', sans-serif
}
.more_menu {
	display: none;
	margin-top: 10px
}
.more_menu li {
	display: inline-block;
	margin: 5px 5px 10px 0px
}
.more_menu li a {
	background-color: black;
	color: white;
	padding: 5px 10px;
	border-radius: 2px;
	border: none
}
.more_menu li a: hover, .more_menu li.current a {
	background-color: white;
	color: black;
	text-decoration: none
}
dd.result.res_user>a: nth-child(1)>img {
	width: 30%!important
}
a.advanced-search__link {
	text-decoration: none;
	color: black;
	display: block;
	background-color: #EEEEFF;
	box-shadow: 5px 5px 5px gray;
	margin-bottom: 2px;
	border-radius: 5px
}
a.advanced-search__link: hover {
	text-decoration: none;
	color: white!important;
	display: block;
	background-color: #000000;
	box-shadow: 5px 5px 5px gray;
	margin-bottom: 2px;
	border-radius: 5px
}
.site-footer a {
	color: #eee!important;
}
section.entry-content.cf {
	color: #000;
background-color:#eee;padding:10px;margin:10px;
}
.birthdayWidget li {
	display: none!important
}
.birthdayWidget li.membersBirthday {
	display: block!important
}
.birthWidge .matrix-item.membersBirthday .membersListPage-userName {
	margin-bottom: 5px
}
.birthdayWidget.noBirthdays::before {
	content: "No Birthdays Today"
}
.birthTab {
	position: relative;
}
.birthCounter {
	position: absolute;
	top: -8px;
	right: 0;
	background-color: red!important;
	color: white!important;
	border-radius: 100%;
	padding: 4px 8px!important;
	border: none!important;
	font-size: 14px!important;
	font-weight: bold!important;
}
/* Label in profile page header */

.membersBirthday-Profile h2::after {
	content: " - Happy Birthday!";
	display: inline;
	font-style: italic;
}
/*** Birthday Msg Label **/

.profileCoverArea-info.birth-month.birth-Day {
	margin-bottom: 5px;
}
/** The Birthday Today label under birth date **/

.birthdayMsg {
	font-weight: bold;
	border-bottom: solid 2px;
	color: #8e8e60;
	/*font color*/
}
/* The icon which display top left on member avatar */
.birthday-icon {
	background-image: url("https://storage.ning.com/topology/rest/1.0/file/get/9587524492?profile=RESIZE_180x180");
	width: 38px;
	height: 38px;
	background-size: contain;
	position: absolute;
	top: -10px;
	left: -15px;
}

/* Msg which shows on hover of the birthday icon */

.birthday-icon:hover::before {
	content: "Birthday Today";
	display: block;
	background: pink;
	color: royalblue;
	padding: 4px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	border-radius: 6px;
	font-size: 16px;
}
.profileCoverArea-frame .birthday-icon {
	left: 0
}
.profileCoverArea-frame .birthdayMsg {
	display: none
}
#hellobar-bar {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	margin: 0;
	height: 25px;
	display: table;
	font-size: 17px;
	font-weight: 400;
	padding: .33em .5em;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	position: fixed;
	background-color: black;
	box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.15);
}
#hellobar-bar.regular {
	height: 25px;
	font-size: 14px;
	padding: .2em .5em;
}
.hb-content-wrapper {
	text-align: center;
	text-align: center;
	position: relative;
	display: table-cell;
	vertical-align: middle;
}
.hb-content-wrapper p {
	margin-top: 0;
	margin-bottom: 0;
}
.hb-text-wrapper {
	margin-right: .67em;
	display: inline-block;
	line-height: 1.3;
}
.hb-text-wrapper .hb-headline-text {
	font-size: 1em;
	display: inline-block;
	vertical-align: middle;
}
#hellobar-bar .hb-cta {
	display: inline-block;
	vertical-align: middle;
	margin: 5px 0;
	color: #ffffff;
	background-color: #22af73;
	border-color: #22af73
}
.hb-cta-button {
	opacity: 1;
	color: #fff;
	display: block;
	cursor: pointer;
	line-height: 1.5;
	max-width: 22.5em;
	text-align: center;
	position: relative;
	border-radius: 3px;
	white-space: nowrap;
	margin: 1.75em auto 0;
	text-decoration: none;
	padding: 0;
	overflow: hidden;
}
.hb-cta-button .hb-text-holder {
	border-radius: inherit;
	padding: 5px 15px;
}
.hb-close-wrapper {
	display: table-cell;
	width: 1.6em;
}
.hb-close-wrapper .icon-close {
	font-size: 14px;
	top: 15px;
	right: 25px;
	width: 15px;
	height: 15px;
	opacity: .3;
	color: #000;
	cursor: pointer;
	position: absolute;
	text-align: center;
	line-height: 15px;
	z-index: 1000;
	text-decoration: none;
}
nav {
	font-family: 'Voltaire', sans-serif;
	color: #222;
	display: inline-block;
}
nav>a {
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: 1.4em;
	text-transform: UPPERCASE;
	transform-origin: 0 0;
	transform: matrix(1, -0.4, 0, 1.2, 0, 100);
	padding: .2em;
	margin-bottom: .3em;
	transition: .5s background;
}
}
.frameContainer {
	position: fixed;
	height: 100%;
	min-height: 700px;
	top: 0px;
	left: 100px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
}
.main_iframe {
	height: 100%;
	width: 100%;
	border: none;
	background: transparent;
}
badge-info {
	color: #fff;
	background-color: #9c27b0;
}
a.badge.badge-pill.badge-info.p-3.mb-1 {
	color: #000;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
}
a.badge.badge-pill.badge-success.p-3.mt-1.mb-1 {
	background-image: linear-gradient( 117deg, rgba(123, 216, 96, 1) 39.2%, rgba(255, 255, 255, 1) 156.2%);
	color: #000;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
}
a.badge.badge-pill.badge-primary.p-3.mt-1 {
	background-image: linear-gradient( 109.6deg, rgba(45, 116, 213, 1) 11.2%, rgba(121, 137, 212, 1) 91.2%);
	;
	color: #fff;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
}
.occasional-button>.button-iconic {
	color: #fff!important;
}
/* COLOURS FOR THE FEATURE EDIT AND ADD BUTTONS AND MAKE THEM ROUND*/

.linkbar.linkbar-iconic .button.button-iconic {
	border: none;
	border-color: transparent;
	border-radius: 50px;
	font-size: 1em;
	color: white
}
.linkbar.linkbar-iconic .button.button-iconic .icon {
	vertical-align: middle;
	height: auto;
}
.linkbar.linkbar-iconic .button.button-iconic.feature-button {
	background-color: royalblue;
}
.linkbar.linkbar-iconic .button.button-iconic[title="Edit"] {
	background-color: red;
}
.linkbar.linkbar-iconic .button.button-iconic[title="Add Discussion"] {
	background-color: green
}
.linkbar.linkbar-iconic .button.button-iconic[title="Add Blog Post"] {
	background-color: green
}
.linkbar.linkbar-iconic .button.button-iconic[title="Add Article"] {
	background-color: green
}
.linkbar.linkbar-iconic #photoupload .button.button-iconic {
	background-color: green
}
/*Hover colour for all of them*/

.linkbar.linkbar-iconic .button.button-iconic:hover, .linkbar.linkbar-iconic #photoupload .button.button-iconic:hover {
	background-color: darkblue;
	color: white
}
header.entry-headline.media-frame {
	background: rgba(255, 255, 255, 0.53);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.entry-tags a, .tag, .tag:before, .tag:after {
	font-family: 'Montserrat', sans-serif;
	color: #000important;
	border-color: #777;
	border-style: solid;
	background-color: #fff!important;
background: rgba(240, 34, 34, 0.42);
border-radius: 6px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.9px);
-webkit-backdrop-filter: blur(6.9px);
border: 1px solid rgba(240, 34, 34, 0.69);
	background-size: 100%;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, tomato), color-stop(100%, #dddddd));
	background-image: -moz-linear-gradient(#ffffff, #dddddd);
	background-image: -webkit-linear-gradient(#ffffff, #dddddd);
	background-image: linear-gradient(#ffffff, #dddddd);
	-moz-background-clip: padding;
	-o-background-clip: padding-box;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}
div.entry-byline {
	color: #212121;
border: 2px ,black;
background: rgba(255, 255, 255, 0.46);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
	font-weight:bold;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
padding:20px;
}
div.entry-byline a {
color: #000066;
}


.entry-tags a, .tag {
	color: #212121;
	background: rgba(240, 34, 34, 0.57);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.7px);
-webkit-backdrop-filter: blur(8.7px);
border: 1px solid rgba(240, 34, 34, 0.74);
	display: block;
	float: left;
	text-decoration: none;
	font-size: 0.8em;
	padding: 5px 3px;
	line-height:0.9em;
	position: relative;
	margin-left: 5px;
	border-width: 1px 1px 1px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0;
	border-radius: 0 5px 5px 0;
}
.entry-tags a:before, .entry-tags a:after, .tag:before, .tag:after {
	content: "";
	position: relative;
	display: block;
	border-width: 1px;
}
.entry-tags a:before, .tag:before {
	z-index: -3;
	left: 0;
	top: 0;
list-style:none;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	-moz-transform: translate(-21px, -1px) scale(0.70711, 0.70711) rotateZ(-45deg);
	-ms-transform: translate(-21px, -1px) scale(0.70711, 0.70711) rotateZ(-45deg);
	-webkit-transform: translate(-21px, -1px) scale(0.70711, 0.70711) rotateZ(-45deg);
	transform: translate(-21px, -1px) scale(0.70711, 0.70711) rotateZ(-45deg);
	-moz-border-radius: 6.66667px 0 0 0;
	-webkit-border-radius: 6.66667px;
	border-radius: 6.66667px 0 0 0;
}
.entry-tags a:after, .tag:after {
	top: 5x;
	left: -776.66667px;
	width: 10px;
	height: 3px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #000000;
}
/* Some extra shadow :) */

.entry-tags a, .tag, .entry-tags a:before, .tag:before {
	-moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
}
.entry-tags a:after, .tag:after {
	-moz-box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.15);
	box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.15);
}
div.popup-block.popup-block_addTrack, input#musicFileInput.transparentFileInputButton-fileInput, button.button.button-active.audioPage__add-button.add-button_track.trackSubmitButton {
	background-color: black;
	color: red!important
}
a.pull-right {color: white;font-size:1.5em;padding:10px;}
}
a.pull-right, div.entry-tags.ux-entry-tags.pull-left a: hover, div.entry-byline a: hover, .entry-tags a: hover {
  display: block;
font-size:1.2em;
background:transparent;
  color: #000;
}
h3.entry-title, i.icon.icon-tag {
	font-size: 1.5em!important;
font-weight:bold;
padding: 10px;
}
/*** RESIZE THE VIDEO IN SOCIAL CHANNELS ****/

@media only screen and (min-width:979px) {
	.feedListPagePlayer-source .sourceContainer {
		display: flex;
		align-items: center;
		width: 100%;
		height: 70vh;
		max-width: 85%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
@media only screen and (max-width:979px) {
	.feedListPagePlayer-source .sourceContainer {
		top: 30%;
	}
}
/************** VIDEOS CODES ************/

@media only screen and (min-width:771px) {
	/* Adjust the Column Widths Video Detail Page */
	.videoDetailPage .span8 {
		width: 80%
	}
	.videoDetailPage-list {
		margin: 0px
	}
	.videoDetailPage .span6 {
		width: 20%
	}
	.videoDetailPage .matrix-itemFluid {
		min-width: 80%;
		max-width: 100%;
		float: none
	}
	.videoDetailPage .span6 .matrix-itemFluid {
		width: 80%;
		margin: 0px auto;
	}
	.videoDetailPage-titleList {
		text-align: center;
		font-size: 1.1em
	}
	.videoDetailPage .icon-love {
		display: inline;
		vertical-align: bottom;
	}
}
/* Add a title to the video description */

.videoDetailPage-mainVideo>.entry-content::before {
	content: "About";
	display: block;
	margin-bottom: 5px;
	text-decoration: underline
}
.videoDetailPage-viewVideo .icon-eye {
	vertical-align: bottom;
	display: inline;
	margin-right: 0px;
}
.videoDetailPage-otherVideo .videoListPage-metaTitle {
	font-size: 1.2em!important
}
.videoForm-inputTitle {
	height: auto;
}
.videoDetailPage-mainVideo .standard-comments.entry-comments::before {
	content: "Comment";
	display: block;
	margin-bottom: 5px;
	text-decoration: underline
}
/* Make video Responsive */

.videoDetailPage-video.iframed {
	margin-bottom: 5px;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}
.videoDetailPage-video.iframed iframe {
	max-width: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
}
@media only screen and (min-width:771px) {
	/* Adjust the Column Widths */
	.videoDetailPage .span8 {
		width: 80%
	}
	.videoDetailPage-list {
		margin: 0px
	}
	.videoDetailPage .span6 {
		width: 20%
	}
	.videoDetailPage-titleList {
		text-align: center;
		font-size: 1.1em
	}
	.videoDetailPage .matrix-itemFluid {
		min-width: 80%;
		max-width: 100%;
		float: none
	}
	.videoDetailPage .span6 .matrix-itemFluid {
		width: 80%;
		margin: 0px auto;
	}
}
.poweredBy-text {
	display: none!important
}
/* Select Menus Adjustment to stop text getting cut off */

select {
	height: 2.35em
}
/** SITE HEADER AUTO ADJUSTMENT IN HEIGHT **/

.site-header {
	height: auto
}
/**** ACTIVITY FEED CODE ***/

.activityFeed-title a: first-of-type: before {
	content: "Posted By";
	display: inline-block;
	margin-right: 5px
}
.activityFeed-embed[data-type="video"] {
	max-width: 100vw;
	max-height: 100vh
}
/* This adds a little > after the person name */

.activityFeed-comment .media-body a: first-of-type: after {
	content: ">";
	display: inline-block;
	margin-left: 3px;
	margin-right: 4px
}
.activityFeed-comment {
	font-size: 0.85em
}
/* Reveal The Word Comment before the count number */

.activityFeed .icon-comment {
	display: inline;
	vertical-align: bottom
}
a.activityFeed-commentCount, a.activityFeed-commentFormDisplay {
	font-size: 0.9em;
	line-height: 1em;
	float: right
}
.icon-comment.icon: before {
	float: right!important;
	margin-left: 5px;
	margin-top: -5px
}
/* Add the word 'Add' before comment on a activity feed post*/

a.activityFeed-commentFormDisplay: before {
	content: "Add";
	display: inline-block;
	margin-right: 2px
}
.activityFeed-comments.js-activityFeedCommentsList .feedEvent-createStatusComment {
	display: none
}
.activityFeed-comments.js-activityFeedCommentsList .feedEvent-createStatusComment: first-child::before {
	content: "Latest Comment";
	display: block;
	margin-bottom: 5px
}
.activityFeed-comments.js-activityFeedCommentsList .feedEvent-createStatusComment: first-child {
	display: block
}
.status-commentForm.js-statusCommentForm: before {
	content: "Add Comment";
	display: block;
	font-size: 14px;
	margin-bottom: 5px
}
.addCommentContainer: before {
	content: "Add Comment";
	display: block;
	font-size: 14px;
	margin-bottom: 5px
}
/* For The Photos */

.activityFeed-comments.js-activityFeedCommentsList .feedEvent-createPhotoComment {
	display: none
}
.activityFeed-comments.js-activityFeedCommentsList .feedEvent-createPhotoComment: first-child {
	display: block
}
.activityFeed-comments.js-activityFeedCommentsList .feedEvent-createPhotoComment: first-child::before {
	content: "Latest Comment";
	display: block;
	margin-bottom: 5px
}
.activityFeed-comments.js-activityFeedCommentsList .media-body {
	border-top: solid 1px lightgrey
}
/********* PHOTOS****/

/* Adjust the viewer to adjust to photo size eliminating white space and showing photo size 100% **/

.photoDetailPage-image>img {
	position: relative;
	display: flex;
	max-height: 100vh;
	height: auto;
	margin: 0px auto
}
.photoDetailPage-image {
	position: relative
}
.photoDetailPage .image-aspect-4-3 {
	width: 100%;
	height: auto;
	max-height: 100vh;
	padding-bottom: -100px
}
.newPhotoList-v5 .photoDetailPage-mainSection.sheet {
	padding: 10px;
}
.newPhotoList-v5 a:hover {
	text-decoration: none!important;
}
.newPhotoList-v5 .photoBlockWrapper {
	min-height: unset;
	height: calc(100% - 20px);
	margin-top: 0px;
}
.newPhotoList-v5 .photoBlockWrapper .photoDetailPage-image {
	height: 0;
	padding-bottom: 10%;
	margin-bottom: 0px;
}
.newPhotoList-v5 .entry-headline {
	margin-bottom: 2px;
	padding: 0px 5px 2px 5px;
	border-bottom: solid 1px lightgray;
	pointer-events: none;
}
.newPhotoList-v5 .wrap__avatar.avatar-48 {
	display: none;
}
/*Hide long title overflow*/
/** BLOGS CODE **/

/* Filter Blogs Box Under Module Header In Blogs */

.filterBlogsBox {
	border-width: 2px;
	border-style: none none solid;
	border-color: lightgrey;
	padding: 4px 10px;
	border-radius: 0px
}
/* Adjust the size for the font for the additional text under the name to show the filter state */

.blogListPage .sortstate {
	font-size: 0.6em
}
/*.blogListPage .module-name{font-size: 24px }*/

/*.page-blog .blogListPage .module-header{ margin: -20px -20px 0px -20px }*/

.feed-story a.activity-close {
	color: white
}
.feed-story .activity-close: hover {
	background-color: black
}
.feed-story .activity-close {
	padding: 4px;
	border: solid 1px #000000;
	background-color: #cc0000!important
}
div.sourceContainer.cl {
	background: url('https://storage.ning.com/topology/rest/1.0/file/get/8491076657?profile=original') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.toggle {
	display: flex;
	flex-direction: column-reverse
}
.toggle__input: not(checked) {
	display: none
}
.toggle__input+label {
	background-color: #D65D5D;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-szie: 0.8em;
	margin-top: 0.5em;
	margin-bototm: 0.5em;
	padding: 0.5em;
	text-align: center;
	width: 12em
}
.toggle__input+label: before {
	color: #fff;
	content: "+";
	font-size: 1em;
	padding-right: 0.3em;
	width: 1em
}
.toggle__input: not(checked)~.toggle__content {
	display: none
}
.toggle__input: checked~.toggle__content {
	display: block
}
.toggle__input: checked+label: before {
	content: "\2212"
}
.toggle__input+label .toggle__less, .toggle__input: checked+label .toggle__more {
	display: none
}
.toggle__input: checked+label .toggle__less {
	display: inline
}
a.button.button-iconic {
	background: rgba(16, 15, 15, 0.57);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.7px);
-webkit-backdrop-filter: blur(8.7px);
border: 1px solid rgba(16, 15, 15, 0.74)!important;
	color: white!important
}
/*VIDEO LIST PAGE METADATA*/

span.videoListPage-userName>a {
	display:none;
}
div.gsc-control-cse.gsc-control-cse-en {	position: sticky;
  top: 0;
  width: 100%;
  background-color: transparent!important;}
article.media-frame.entry.discussionSection-entry, .videoListPage-metadata a{
overflow:scroll!important;
}
/* background color of the box. Add colour or transparent */


/* background color of the box. Add colour or transparent */

.videoListPage-metaTitle {
	padding: 0px 4px
}
/* padding for the title */

.videoListPage-metadata .videoListPage-row {
	padding: 3px 6px
}
/* padding for the other two parts below */

.videoListPage-metadata a {
	color: #e9e8c1
}
/* colour of the links . You can use your own default settings by using inherit instead of adding a colour */

.videoListPage-metadata a: hover {
	color: white
}
/* color of the links on hover. You can use your own default settings by using inherit instead of adding a colour */

.videoListPage-metadata {
	border-radius: 0px 0px 4px 4px
}
/* .videoListPage-metadata a, .videoListPage-metadata a: hover{ color: inherit ;word-wrap: break-word;} */

span.videoListPage-metaElapsed, div.videoListPage-metaTitle {
	font-size: 0.8em;
	word-wrap: break-word;
}
.videoDetailPage-getEmbedCode_wrap {
	margin: 0 0 5px 8px
}
.videoDetailPage-viewVideo {
	float: none;
	margin-bottom: 5px
}
.videoForm-inputTitle {
	height: auto
}
.videoDetailPage .socialActions {
	margin-top: 5px
}
.videoDetailPage .entry-tags {
	margin-top: 10px
}
.videoDetailPage-viewVideo .icon-eye {
	margin-right: 5px
}
.videoDetailPage .entry-content {
	width: 100%;
	clear: both
}
/*Optional to show the word views*/

.videoDetailPage-viewVideo .icon-eye {
	vertical-align: bottom;
	display: inline;
	margin-right: 0px
}
/** NEW VIDEO PAGE **/

/*Detail Page Corrections*/

.videoDetailPage-video {
	margin-bottom: 5px
}
.videoDetailPage-viewVideo {
	float: left;
	margin: 10px 0px 10px 10px;
	width: 100%
}
.videoDetailPage-viewVideo .icon-eye {
	vertical-align: bottom;
	display: inline
}
.videoDetailPage .icon-love {
	display: block;
	vertical-align: top
}
.videoDetailPage-mainVideo .button-tiny.likeButton a {
	font-size: 12px
}
/** Adding A Video Input Correction As It Was Cutting If The Text Top And Bottom **/

.input-full.videoForm-inputTitle {
	padding: 0px 0px 0px 4px
}
/* Social Actions Box */

.videoDetailPage .socialActions {
	margin-top: 12px;
	margin-bottom: 6px
}
/* Spacing for the social buttons */

.videoDetailPage .socialSharingButton {
	margin-bottom: 5px;
	margin-right: 5px
}
/* Make video Responsive */

.videoDetailPage-video {
	margin-bottom: 5px;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative
}
.videoDetailPage-video iframe {
	max-width: 100%;
	height: 100%;
	width: 100%;
	position: absolute
}
/* Adjust get embed code button after being moved */

.button.button-secondary.videoDetailPage-getEmbedCode {
	font-size: 12px
}
.videoDetailPage-embedCode {
	width: 100%;
	margin-bottom: 20px
}
.videoDetailPage-getEmbedCode_wrap {
	text-align: right;
	width: 100%;
	margin: -20px 10px 10px 0px;
	float: right
}
/* Add a title to the video description */

.videoDetailPage-mainVideo>.entry-content::before {
	content: "About this Surveying Video";
	display: block;
	margin-bottom: 5px;
	text-decoration: underline
}
.copy-notify {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	background: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
	padding: 20px;
	position: fixed;
	left: 50%;
	margin-left: -150px;
	bottom: 10px;
	width: 300px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 15px;
	bottom: -200px;
	opacity: 0;
	z-index: 9999999;
}
.copy-notify h3 {
	color: #cc0000;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 19px;
}
.copy-notify p {
	color: #000000;
	line-height: 20px;
}
.copy-notify .thanks {
	text-align: center;
}
.close-it {
	font-size: 12px;
	margin-top: 20px;
	background: #0288D1;
	color: #fff;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all ease-out 1s;
	transition: all ease-out 1s;
}
.close-it:hover {
	background: #03A9F4;
}
.showUp {
	-webkit-transition: all ease-out 0.300s;
	transition: all ease-out 0.300s;
	bottom: 0;
}
.hideDown {
	-webkit-transition: all ease-out 0.300s;
	transition: all ease-out 0.300s;
	bottom: -200px;
	opacity: 0;
}
.blur-it {
	-webkit-transition: -webkit-filter ease-out 0.5s, filter ease-out 0.5s;
	transition: -webkit-filter ease-out 0.5s, filter ease-out 0.5s;
	-webkit-filter: blur(5px);
	filter: blur(5px);
}
/*******************************
EVENTS CALENDAR
*******************************/

.calendarWrap-container {
	border: solid 1px lightgrey;
	border-radius: 0px 0px 4px 4px;
	background: white;
}
.calendarGrid a {
	color: #00a6eb;
}
.calendarGrid a:hover {
	color: royalblue;
}
.calendarGrid {
	color: black;
}
.monthFilter-title {
	color: grey;
}
.calendarGrid .span13 {
	background-color: white;
	/*color of event content background */
	border: solid 1px lightgrey;
	transition: 0.2s ease-out;
}
@media screen and (min-width: 969px) {
	.calendarGrid .span13:hover .eventDetail-wrap {
		background-color: white;
		/* event details background colour on hover */
		color: grey;
		/* text colour */
	}
	.calendarGrid .span13:hover a {
		color: royalblue;
	}
	.calendarGrid .span13:hover a:hover {
		color: green;
	}
}
.monthContainer {
	margin-top: 20px;
	padding: 0px 5px 0px 5px;
}
/*the outer wrap of each month */

.monthContainer:not(:last-of-type) {
	border-bottom: solid 1px lightgrey;
}
.monthTitle {
	color: #cc0000;
	font-size: 2em;
	border-left: solid 15px #f1e1e1;
	padding-left: 8px;
	border-radius: 6px 0px 0px 6px;
	margin-left: -21px;
	transition: 0.4s ease-in-out;
}
.eventListPage-startDate {
	text-align: left;
	padding: 10px 0px 10px 2px;
}
.eventListPage-startDayOfWeek {
	padding: 10px 0px 10px 5px;
	background-color: #cc0000;
	color: white;
	width: 100%;
	text-align: left;
}
.calendarGrid {
	display: grid;
	grid-gap: 5px;
	padding: 0px 10px;
	margin-top: 10px;
}
.calendarGrid .span10, .calendarGrid .span3, .calendarGrid .span13 {
	width: 100%;
}
.calendarGrid .entry {
	margin-bottom: 16px!important;
}
.calendarGrid article.entry .span6 {
	display: none;
}
/*hides the going and google calendar */

.calendarGrid article.entry {
	position: relative;
	min-height: 185px
}
.calendarGrid .eventDetail-wrap {
	padding: 10px;
	height: auto;
}
.eventListPage-SameDate {
	background-color: #6779af;
	bottom: 0;
	width: 100%;
	height: 36px;
	margin-top: 20px;
}
.calendarHeader {
	display: flex;
	align-items: center;
	font-size: 2.5em;
	background-color: #000000;
	color: white;
	padding: 20px;
}
.calendarHeader span {
	margin-right: auto;
}
.calendarDisplay {
	display: flex;
}
.calendarDisplay button {
	margin: 10px;
	border: none;
	border-radius: 6px;
	font-size: 0.4em;
	border: solid lightgrey 2px;
	background-color: transparent;
	transition: all .2s ease-in-out;
	color: lightgrey;
	padding: 5px 10px;
	display: flex;
	align-items: center;
}
.calendarDisplay button:hover, .calendarGrid-btn.cdBtn-active, .calendarList-btn.cdBtn-active, .calendarDetail-btn.cdBtnDetails-active {
	background-color: #398c3e;
	color: white;
	transition: all .2s ease-in-out;
}
.calendarDisplay span {
	font-size: 1.5em;
	margin-right: 5px;
	background-color: rgb(22 35 111 / 25%);
	padding: 2px 4px 4px 4px;
	border-radius: 2px;
}
.calendarDetail-btn span {
	background: transparent
}
.monthContainer:hover {
	background-color: #fbfbfb;
}
.monthContainer:hover .monthTitle {
	border-color: royalblue;
	transition: 0.4s ease-in-out;
}
.monthFilter {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 10px
}
.monthFilter button {
	border: none;
	padding: 10px;
	font-size: 12px;
	border-radius: 4px
}
.monthFilter button:hover {
	background-color: #0acc0a;
	color: white
}
.monthFilter button.filter-active {
	background-color: #0acc0a;
	color: white
}
.monthFilter ul {
	display: flex;
	margin-left: 10px;
	flex-wrap: wrap
}
.monthFilter ul li {
	margin: 5px
}
/**** MEDIA QUERIES START ***/

@media screen and (max-width: 969px) {
	.calendarDisplay {
		display: none!important
	}
}
@media screen and (min-width: 969px) {
	.calendarGrid .media-frame>.eventPage-image {
		max-width: 60px;
	}
	.calendarGrid .eventPage-details {
		min-height: 90px;
	}
	.calendarGrid .eventPage-detail:not(:first-of-type) {
		display: none;
	}
	.calendarGrid .span13:hover {
		position: absolute;
		width: 100%;
		z-index: 1000;
		left: 0;
		height: 100%;
		top: 75px;
		border: none
	}
	.calendarGrid .span13:hover .eventDetail-wrap {
		background-color: white;
		border: none;
		box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.27);
		border-radius: 0px 0px 6px 6px;
		transition: all .2s ease-in-out;
	}
	.calendarGrid .eventDetail-wrap:hover .eventPage-detail {
		display: block;
	}
	.calendarGrid .entry .row {
		height: 100%;
	}
	.calendarGrid .span13 {
		position: absolute;
		bottom: 0;
	}
	.calendarGrid .span13.showingEvent-details {
		position: relative
	}
	.calendarGrid .span13.showingEvent-details .eventPage-detail {
		display: block;
		position: relative
	}
	.calendarGrid .span13.showingEvent-details:hover {
		position: relative!important;
		top: 0;
		height: auto
	}
}
@media screen and (min-width: 969px) {
	.calendarGrid {
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
	}
	.calendarGrid.cgList {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}
}
/*******************************
END EVENTS CALENDAR
*******************************
/****************************
MEMBER QUICK VIEW
****************************/

#overlayMembers {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 100;
}
.membersListPage-user.viewing-MemberInfo:hover {
	transform: unset;
}
.membersListPage-user.viewing-MemberInfo .matrix-item {
	justify-content: unset;
}
.media-frame.viewMemberInfo {
	overflow: hidden;
	overflow-y: auto;
}
.viewMemberInfo {
	position: absolute;
	left: 0;
	right: 0;
	top: 5px;
	background-color: white;
	max-width: 480px;
	max-height: 100%;
	overflow-y: auto;
	margin: auto;
	z-index: 2000;
	border-radius: 10px;
	padding: 20px;
	transition: 0.5s;
}
.memberInfo-showHeader {
	padding: 0px 0px 10px 0px;
	position: sticky;
	top: 0;
	background-color: white;
}
.memberInfo-container {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	margin-top: 10px;
	color: gold;
	;
}
.membersListPage-user.viewing-MemberInfo .memberButton-header {
	position: absolute;
	top: 6px;
	right: 6px;
}
.closeMember-Info {
	border: none;
	background-color: #1e1e1e;
	border-radius: 4px;
	font-size: 1em;
	padding: .35em .5em;
}
.closeMember-Info:hover {
	background-color: #e04444;
	color: white
}
.memberInfo-button {
	border: none;
	float: right;
	border-radius: 4px;
	color: #187ad2;
	background-color: transparent;
}
.memberInfo-button:hover {
	background-color: #4CAF50;
	color: white;
}
/* If no info has been added message */

div.memberInfo-content:empty::before {
	content: "Sorry, No Information has been added or Profile Is Private";
	display: block;
	line-height: 1.5rem;
	color: #756d6d;
}
/*****************************************
MEMBER BLOCK EMAIL BUTTON
*****************************************/

/* If visitor hides the email button*/

.visitor .memberInfo-Email {
	display: none
}
/*Email icon on list page*/

.membersListPage-user .memberInfo-Email {
	transition: 0.2s;
	margin: 4px;
	border-radius: 50%;
	border: solid #b8c3fd 1px;
	font-size: 1.1em;
	padding: 0.35em;
	color: #586dd6;
	background-color: transparent;
}
/* don't show email button on list page if not friends */

.membersListPage-user.notFriends .memberInfo-Email {
	display: none;
}
.memberInfo-Email:hover {
	transform: scale(1.2, 1.2);
	transition: 0.2s;
}
/*In Quick view is transparent as replaced by main email link */

.viewing-MemberInfo .memberInfo-Email {
	color: transparent;
	border: none;
	margin-left: 5px;
	margin-bottom: 10px
}
/*If not buttons like friends etc disable the buttons also disables it for non members view*/

.membersListPage-user:not(.hasButtons) .memberInfo-container button {
	pointer-events: none;
	opacity: 0.35
}
/** MEMBERS LIST PAGE **/

/* Background colour of the member blocks and border colour, change as needed */

.matrix-itemFluid.membersListPage-user {
	background-color: white;
	border: solid 2px powderblue;
}
.mediumMatrix.advanced-search__members, .membersListPage .matrix {
	display: grid!important;
	grid-template-columns: repeat(auto-fit, minmax(260px, 0fr))!important;
	justify-content: center!important;
	grid-gap: 1rem;
}
@media only screen and ( min-width:868px) {
	.mediumMatrix.advanced-search__members .matrix-itemFluid, .membersListPage .matrix-itemFluid {
		min-width: 240px!important;
	}
}
@media only screen and (min-width:600px) and ( max-width:868px) {
	.mediumMatrix.advanced-search__members, .membersListPage .matrix {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))!important;
	}
	.mediumMatrix.advanced-search__members .matrix-itemFluid {
		min-width: 1px!important;
	}
}
@media only screen and ( max-width:600px) {
	.mediumMatrix.advanced-search__members, .membersListPage .matrix {
		grid-template-columns: repeat(auto-fit, minmax(140px, 1fr))!important;
	}
	.mediumMatrix.advanced-search__members .matrix-itemFluid {
		min-width: 1px!important;
	}
}
.mediumMatrix.advanced-search__members::after {
	width: 100%;
	position: absolute;
	bottom: 0;
}
.mediumMatrix.advanced-search__members .matrix-itemFluid {
	width: 100%!important;
}
.matrix-itemFluid.membersListPage-user .matrix-item {
	width: 100%!important;
	display: grid!important;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
}
.membersListPage-user .matrix-item .media-img {
	display: grid!important;
	align-items: center;
	justify-content: center;
	margin: 10px 0px 0px 0px!important;
	max-width: 100%;
	background-color: transparent;
	border-radius: 0px;
}
.matrix-itemFluid.membersListPage-user {
	justify-content: center;
	margin: 0;
	padding: 10px 5px;
	border-radius: 10px;
	transition: 0.2s;
	width: 100%!important;
}
.matrix-itemFluid.membersListPage-user .membersListPage-userInfo {
	height: auto;
	display: grid;
	justify-content: center;
	justify-items: center;
	align-items: center;
	margin-top: 20px;
}
.membersListPage-userName {
	display: flex;
	align-content: center;
	margin-bottom: 5px;
	align-items: center;
	justify-content: center;
}
.membersListPage-userInfo .profileCoverArea-info {
	text-align: center;
}
.membersListPage-userInfo .profileCoverArea-info .profileCoverArea-question::after {
	content: ": ";
}
.membersListPage-user:hover {
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.27);
	transform: scale(1.07, 1.07);
	transition: 0.2s;
}
.membersListPage-user a.media-img span {
	transition: 0.7s;
}


details.modal summary {
	color: #FFF;
}
.breadcrumbs {
	list-style: none;
	margin: 0;
	padding: 0;
}
.breadcrumbs li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	font-size:0.9em!important;padding:10px;color: black!important;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: .05em;
	line-height: 1.8em;
	color: black;
	-webkit-text-stroke: 1px black;
}
div.media-body.membersListPage-userInfo {background-image: radial-gradient( circle 489px at 49.3% 46.6%,  rgba(255,214,126,1) 0%, rgba(253,200,0,1) 100.2% );}
.breadcrumbs li:hover {
	color: #000;
}
.breadcrumbs li a {
  display: block;
  color: #212121!important;
  -webkit-text-fill-color: #212121;

}
canvas {
	border: 0px solid pink;
	display: block;
	z-index: -1;
}
.gooeys {
	margin: 0 auto;
	-webkit-filter: url('#filter');
	filter: url('#filter');
	border: 0px solid black;
	opacity: .99;
}


.breadcrumbs li a:after {
	content: '';
	width: 30px;
	height: 30px;
	border-color: #cc0000;
	border-style: solid;
	border-width: 10px 13px 0 0;
	-webkit-backface-visibility: hidden;
	outline: 1px solid transparent;
	position: absolute;
	right: -2px;
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-ms-transition: all .15s ease;
	transition: all .15s ease;
	-webkit-transform: rotateZ(45deg) skew(10deg, 10deg);
	-moz-transform: rotateZ(45deg) skew(10deg, 10deg);
	-ms-transform: rotateZ(45deg) skew(10deg, 10deg);
	transform: rotateZ(45deg) skew(10deg, 10deg);
}
.breadcrumbs li a:hover:after {
	right: 125px;
	-webkit-transform: rotateZ(45deg) skew(-10deg, -10deg);
	-moz-transform: rotateZ(45deg) skew(-10deg, -10deg);
	-ms-transform: rotateZ(45deg) skew(-10deg, -10deg);
	transform: rotateZ(45deg) skew(-10deg, -10deg);
}
small.event-info-timestamp {
	color: black;
}
.navbar li a {
	font-family: 'Bebas Neue', cursive;
        font-size:0.9em;
}
.navbar li a:hover {
	font-family: 'Bebas Neue', cursive;
	
}
article.entry.articleListPage-entry, article.media-frame.entry.discussionListPage-entry {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 12px 12px 24px #000000, -12px -12px 24px #000000;
	box-shadow: 12px 12px 24px #000000, -12px -12px 24px #000000;
}
article.entry.articleListPage-entry {
	color: white!important;
}
.sign_form .auth_copy {
	display: none!important;
}
:is(section, article) :is(h1, h2, h3, h4) {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}
button.button.button-iconic {
	background: rgba(16, 15, 15, 0.57);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.7px);
-webkit-backdrop-filter: blur(8.7px);
border: 1px solid rgba(16, 15, 15, 0.74);}
select.categorySelectionList {
	height: 6.5em!important
}
div.module-actions select {
	height: 2.5em!important
}
select {
	height: 2.5em!important
}
h1.content-name,  {
  display: block;
  color: #eee!important;
} 
.content-name {
 
font-size:1.8em;
}
ul.subnav.expanded {
color:#212121;
	text-shadow: 1px 1px 1px #212121;
}
.subnavline > li a{font-family: 'Voltaire', sans-serif;color: #212121!important;}
.box h3 {
	text-align: center;
	position: relative;
	top: 80px;
}
.box {
	width: 80%;
	height: 200px;
	background: #FFF;
	margin: 40px auto;
}
.short-menu {
	float: right;
	margin-top: 0px;
}
.short-menu li {
	list-style: none;
	background-color: transparent;
	display: block;
	float: left;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.short-menu li:hover {
	list-style: none;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	display: block;
	float: left;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.short-menu li a {
	font-size: 0.7em;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0;
	height: 64px;
	color: #212121;
	line-height: 64px;
	padding: 0 20px 0 0;
	vertical-align: top;
	width: 80px;
	overflow: hidden;
	display: block;
	cursor: pointer;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.short-menu li a:before {
	font-size: 1.3em;
	color: white;
	-webkit-text-stroke: 1px #cc000;
	text-shadow: 1px 1px #000;
	font-weight: normal;
	width: 60px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	display: inline-block;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.short-menu li a:hover {
	width: 120px;
color:#fff;
}
.short-menu li a:hover:before {
	width: 64px;
	color: white;
	-webkit-text-stroke: 1px #212121;
}
.membersListPage-userInfo .profileCoverArea-info .profileCoverArea-question {color:#000!important;}
.membersListPage-userInfo .profileCoverArea-info {color:#212121!important;}
.membersListPage-userName>a {padding-top:10px!important;}
.mediumMatrix.advanced-search__members .matrix-itemFluid.membersListPage-user .matrix-item .media-img {padding:50px;}
.dashboardBar-innerSection,.ningbar .dashboardBarWrap {background-color: #000!important;}
.dashboardBar-ningLogo {display: none;}
.photoDetailPage .image-aspect-4-3::before,
.photoListPage .photoListPage-entry .matrix-media-4-3:before,
.section-photoBundle .matrix-media-4-3:before
{
content: "\00A9 Land Surveyors United";
display: block;
font-size: 1.1em;
color: lightgrey;
z-index: 1;
position: absolute;
top: 50%;
left: 0;
right: 0;
text-align: center;
}
/** OPTIONAL COLOUR SETTINGS **/


.Bio-info{
background-color: green;
padding: 10px!important;
border-radius: 10px;
color: white;
}
.Bio-info p.p-Content{
background-color: white;
color: black;
padding:10px;
}

.Bio-info p.p-Content span{
background-color: red;
color: white;
padding:10px;
border: solid 1px grey;
}

.Bio-info p.p-Content:nth-child(1) > span:nth-child(1){
background-color: Black;
}

 /* Question Answer Section */
.Bio-info .profileCoverArea-questionAndAnswer.p-Content span{
background-image: linear-gradient( 178.2deg,  rgba(118,8,23,1) 10.9%, rgba(158,12,33,1) 62.6% );
}

.Bio-info .profileCoverArea-questionAndAnswer.p-Content{
background-color: orange;
color: black;
padding:20px 5px;
}

.Bio-info .profileCoverArea-questionAndAnswer.p-Content .profileCoverArea-question{
background-color: blue;
color: white;
}


/** CALENDAR GRID This is the grid which will surround each of the months **/

/** Events Monthly Headers **/
.calendarGrid-Title{
width:100%; clear:both;
}
.monthHeader-name{
font-weight:bold;
display:block;
padding:10px 20px;
color:#1a11b1;
background-color:rgba(127, 63, 191,0.3);
border-radius:6px 6px 0px 0px; font-size:1.7em
}
.eventListPage.sheet{
background-color:#fbfbfb!important;
}
.eventListPage .entry{
background-color:white
}


/**MAIN LIST PAGE **/
/***** EVENTS ****/
/* Margin between each post */

/** Margin between each of the posts plus some padding**/
.eventListPage .entry{
margin-bottom:20px;
padding:10px
}
.section-eventBundle .entry {
margin-bottom: 15px;
}

/*Links In The Header Module ByLine For Inviting Members when creating an event */
.module-byline > a{
color:#000;
font-size:16px;
}
.module-byline > a:hover{
color:black;
text-decoration:none
}

/*Make a button for the inivite members links*/
.module-byline{
margin-top:10px;
}
.module-byline > a{
background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
padding:3px 6px;
border-radius:4px;
}
.module-byline > a:hover{
background-color:darkblue;
}

/* Add a border around each entry to make give them more seperation */
.eventListPage .span13 {
border:solid 1px lightgray;
}

/** New Entry Title Adjustment After Moving It Above the Event Content **/
.eventListPage .eventPage-details > .entry-title{
margin-bottom:14px;
box-shadow: 0px 5px 5px lightgray;
padding: 6px;
border: solid 1px #eaeaea;
}
/*Add little Padding To The Details Section */
.eventPage-details{
padding:4px;
}

/*Entry Title Make Uppercase */
.eventPage-details .entry-title > a, .section-eventBundle .entry-title > a{
text-transform:uppercase;
}
.section-eventBundle .entry-title > a{
font-size:1em;
}

/* Change the spans of the main content and the date day column to 100% width */
.eventListPage .span3, .eventListPage .span13{
width:100% ;
}
.eventListPage .span3{
text-align:left;
padding:6px;
border-bottom: none;
margin-bottom:0px;
font-size:1.3em;
}

/*Move the start date to the left and make it an inline block */
.eventListPage .eventListPage-startDate, .eventListPage .eventListPage-startDayOfWeek {
display:inline-block;
padding:0 10px 0px 0;
}

/*Remove entry content image*/
.eventListPage .eventPage-detail.entry-content.cf a > img{
display:none!important;
}
.column-narrow .eventPage-detail.entry-content.cf a > img{
display:none!important;
}
/*Remove entry content iframes*/
.eventListPage .eventPage-detail.entry-content.cf iframe{
display:none!important;
}
.column-narrow .eventPage-detail.entry-content.cf iframe{
display:none!important;
}

/* Add Box Shadow To The Entries */
.eventListPage .entry{
box-shadow: 0px 5px 5px lightgray;
padding: 6px;
border-top: solid 1px #eaeaea;
}
.eventListPage .entry:hover{
box-shadow: 0px 8px 7px darkgray;
}

/* Space out the Events Details li list */
li.eventPage-detail{
margin:10px;
}
.eventPage-detail{
margin-bottom:0px;
}
li.eventPage-detail.entry-content{
margin:15px 0px;
border-top:solid 1px lightgray;
border-bottom:solid 1px lightgray;
padding:4px;
}
li.eventPage-detail.entry-content p{
font-size:0.93em;
}

/* Options drop down for going or not */
.eventListPage .eventPage-details .span6.narrow16.tablet16.mobile16{
text-align:center;
border:solid 1px lightgray;
padding:6px;
}
.eventListPage .eventPage-details .eventPage-rsvp {
margin-bottom:20px;
float:left;
display:inline-block;
}
@media only screen and ( min-width:767px ){
.eventListPage .eventPage-details .optionsDropdown:before{
content:"Attend Event options";
display:inline-block;
padding:4px 10px;
float:left;
}
.eventDetailPage .eventPage-details .optionsDropdown:before{
content:"Attend Event options";
display:block;padding:8px 0px;
}
}
/* Events Detail Page */
.eventDetailPage .entry-content:before{
content:"Event Details";
display:block;
padding:8px 0px;
font-size:1.1em;
font-weight:bold;
color:darkblue;
border-bottom:solid 1px lightgray;
margin-bottom:10px;
}
.eventDetailPage-attendees{
display:none;
}
.eventDetailPage .trispan{
margin-top:6px;
}
.triplet.eventDetailPage-triplet{
border: solid 1px #efefef;
padding:4px;
max-width:100%;
}
/* Page Header*/
.EventDetail-header{
display: block;
background-color: #00a6eb;
border-radius: 4px 4px 0 0;
padding: 13px 10px 10px 10px;
margin: -10px -10px 10px -10px;
}
.EventDetail-header a,.EventDetail-header a:hover{
color:white;
font-size:1.5em;
font-weight:bold;
}

li.socialSharingList.menu a {color:white!important;}
.dropdown {
    display: block;
    display: inline-block;
    margin: 0px 3px;
    position: relative;
}

/* ===[ For demonstration ]=== */

.dropdown { margin-top: 20px;margin-bottom:10px;}

/* ===[ End demonstration ]=== */

.dropdown .dropdown_button {
    cursor: pointer;
    width: auto;
    display: inline-block;
    padding: 4px 5px;
    border: 1px solid #AAA;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    color: #717780;
    line-height: 16px;
    text-decoration: none !important;
    background: white;
}

.dropdown input[type="checkbox"]:checked +  .dropdown_button {
    border: 1px solid #3B5998;
    color: white;
    background: #6D84B4;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    border-bottom-color: #6D84B4;
}
ul.dropdown.content {z-index:3;}
.dropdown input[type="checkbox"] + .dropdown_button .arrow {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #6B7FA7;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.dropdown input[type="checkbox"]:checked + .dropdown_button .arrow { border-color: white transparent transparent transparent }

.dropdown .dropdown_content {
    position: absolute;
    border: 1px solid #777;
    padding: 0px;
    background: white;
    margin: 0;
    display: none;
z-index:3;
}

.dropdown .dropdown_content li {
    list-style: none;
    margin-left: 0px;
    line-height: 16px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dropdown .dropdown_content li:hover {
    border-top-color: #3B5998;
    border-bottom-color: #3B5998;
    background: #6D84B4;
}

.dropdown .dropdown_content li a {
    display: block;
    padding: 2px 7px;
    padding-right: 15px;
    color: black;
    text-decoration: none !important;
    white-space: nowrap;
}

.dropdown .dropdown_content li:hover a {
    color: white;
    text-decoration: none !important;
}

.dropdown input[type="checkbox"]:checked ~ .dropdown_content { display: block }

.dropdown input[type="checkbox"] { display: none }
