html { 
  background: url(http://api.ning.com/files/jA8iN*xqGdG0HDdtzSrMPMt3j364M2M6H8bB5XvVUwzUaOhfUd70uj3CEBZt6RTV2Iwzdk5xTTvxY5iT0yk0OsHM5bB0ilWh/3Dscan.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}