html { 
  background: url(http://api.ning.com:80/files/hKtpqNhgCFGauJiVMi-Y2naMHqY9-vnZ7THmkmoR7IvTqPIwnVmf2svkXkQOT33aHdkLeoUgYzoeEKRraLu5d8xYIiCewPFp/alaskalandsurveyors.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.xg_widget_groups .xg_headline .tb ul.byline li{
display:none !important;
}
.xg_widget_groups .dy-avatar-64{
display:none;
}
.myspan {
    display: block;
}