html { 
  background: url(http://api.ning.com:80/files/lTsGW1TpdpSHXcDA2FFIfUjg1J8CGil0fyRkMtCoX6Zy-XtJXG-klTNjEtWxxE8ii5DZLKZtVyHsHA2WozVuCDqYxqiJhFLk/brazillandsurveyors.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}