html { 
  background: url(http://api.ning.com/files/n1-oxFddR9sB48xYZCSfNupsaILPNcv4hWdDQj5r-1FNy8b-pgozVAFGJgRNJrIe1*K9Nxb4rQGJkBqKkjf-4FGXzc0Hhhyy/blueprint.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
