html { 
  background: url(http://api.ning.com/files/YseqJIfhV85Vpr-ibkGa2xHlIYtaTNkSZ-K20R9R5t4Z8uVdyKY72MLteBuoL85e-Lrl6LKglNBWxlhzL8hkIGHOnM05*Mdl/canada.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}