/* Colour the header in red at the top and bottom */
 
.google-visualization-table-tr-head .gradient, .google-visualization-table-tr-head-nonstrict .gradient, .google-visualization-table-div-page .gradient {
    background: linear-gradient(to bottom, rgba(255, 78, 77, 0.95) 2%, rgba(255, 78, 77, 0.01) 7%, rgba(255, 78, 77, 0.04) 95%, rgba(255, 78, 77, 0.88) 6%) repeat scroll 0 0 rgba(42, 93, 41, 0) !important;
}
 
 
/* Progress Bars */
 
            .PercentageBar_red {position: relative; font-size: small; width: 100px; height: 14px; margin: 1px;}
            .PercentageBar_red DIV {height: 9px; line-height: 6px;}
            .PercentageBar_red .percent {position: relative; background-color: #ee7980; left: 0px top: 0px; z-index: 0;border: 1px solid;}
            .PercentageBar_red .caption {position: relative; text-align: center; color: #000; z-index: 1;}
             
             
            .PercentageBar_green {position: relative; font-size: small; width: 100px; height: 14px; margin: 1px;}
            .PercentageBar_green DIV {height: 9px; line-height: 6px;}
            .PercentageBar_green .percent {position: relative; background-color: #55e84c; left: 0px top: 0px; z-index: 0;border: 1px solid;}
            .PercentageBar_green .caption {position: relative; text-align: center; color: #000; z-index: 1;}
 
 
            .PercentageBar_amber {position: relative; font-size: small; width: 100px; height: 14px; margin: 1px;}
            .PercentageBar_amber DIV {height: 9px; line-height: 6px;}
            .PercentageBar_amber .percent {position: relative; background-color: #fcc564; left: 0px top: 0px; z-index: 0;border: 1px solid;}
            .PercentageBar_amber .caption {position: relative; text-align: center; color: #000; z-index: 1;}
             
                        .PercentageBar_black {position: relative; font-size: small; width: 100px; height: 14px; margin: 1px;}
            .PercentageBar_black DIV {height: 9px; line-height: 6px;}
            .PercentageBar_black .percent {position: relative; background-color: #000000; left: 0px top: 0px; z-index: 0;border: 1px solid;}
            .PercentageBar_black .caption {position: relative; text-align: center; color: #000; z-index: 1;}
             
                        .PercentageBar_blue {position: relative; font-size: small; width: 100px; height: 14px; margin: 1px;}
            .PercentageBar_blue DIV {height: 9px; line-height: 6px;}
            .PercentageBar_blue .percent {position: relative; background-color: #91C0EF; left: 0px top: 0px; z-index: 0;border: 1px solid;}
            .PercentageBar_blue .caption {position: relative; text-align: center; color: #000; z-index: 1;}
             
    .number {
    font-size: small;
    position: absolute;
    text-align: right;
}

.typeimg {
width:80px;
height: 80px;
float:left;
}
body, td, div, span, p {
font-family:'Roboto', sans-serif;
color: #444444;
font-size: 15px;
}
.title {
  color: #2773f6;
  font-size: 18px;
text-decoration: none;
margin-left: -3px!important;
}
.description {
text-align:justify;
}
.owner {
color:#999999;
}
tr {
cursor:hand;
}
.size {
width:100%;
text-align:center;
padding:5px!important;
}
/*** Awesome Table ***/

/* filtered results information : last - first / total number of result */
.count {
        border-top:1px solid #E5E5E5;
        border-bottom:1px solid #E5E5E5;
}

/* loader progress bar */
.loader {
        background-color:#437AF8;
}


/*** Google visualization override ***/

/* page number display */
.google-visualization-table-page-numbers {
        display:none !important;
}

/* Table view header */
.google-visualization-table-table .gradient,
.google-visualization-table-div-page .gradient {
        background: #3C81F8 !important
        color:#ffffff;
}

/* selected/hovered row in a TABLE view */
.google-visualization-table-tr-sel td,
.google-visualization-table-tr-over td {
        background-color: #D6E9F8!important;
}

/*** Configuration of FILTERS ***/

/** Labels of filters **/
.google-visualization-controls-label {
        color:#333;
}

/** StringFilter **/
.google-visualization-controls-stringfilter INPUT {
        border:1px solid #d9d9d9!important;
        color:#222;
}
.google-visualization-controls-stringfilter INPUT:hover {
        border:1px solid #b9b9b9;
        border-top:1px solid #a0a0a0;
}
.google-visualization-controls-stringfilter INPUT:focus {
        border:1px solid #4d90fe;
}

/** CategoryFilter **/
.google-visualization-controls-categoryfilter .charts-menu-button,
.google-visualization-controls-categoryfilter .charts-menu-button.charts-menu-button-hover,
.google-visualization-controls-categoryfilter .charts-menu-button.charts-menu-button-active {
        color:#444;
        border:1px solid rgba(0,0,0,0.1);
        background:none;
        background:#f5f5f5;
}
.google-visualization-controls-categoryfilter LI{
        background-color:#3C81F8!important;
        color:#FFF;
        height:25px;
        vertical-align: middle;
        border-radius: 5px;
        line-height:25px;

        }

/* CategoryFilter & csvFilter hovered item in the dropdown */
.charts-menuitem-highlight {
        background-color:#437AF8!important;
        border-color:#3C81F8!important;
        color:#FFF;
}


/* header */
.google-visualization-table-table .gradient, .google-visualization-table-div-page .gradient {
background: #437AF8 !important;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: normal;
}

.google-visualization-controls-categoryfilter LI {
  background-color: #437AF8!important;
}

.google-visualization-controls-categoryfilter .charts-menu-inner-box {
background-color: #437AF8!important;
}

.google-visualization-controls-label {
font-weight: 500!important;        
}

.charts-menuitem-highlight>.charts-menuitem-content {
color: white;
}
/* javascript/gviz/devel/jsapi/static/util/css/toolbar.css */
.google-visualization-toolbar {
  font-size: 100%;
}

.google-visualization-toolbar .google-visualization-toolbar-export-igoogle {
  margin-right: 0.1em;
}

.google-visualization-toolbar .google-visualization-toolbar-export-data {
  margin-right: 0.1em;
}

.google-visualization-toolbar .google-visualization-toolbar-html-code {
  margin-right: 0.1em;
}

.google-visualization-toolbar-html-code-explanation {
  font-weight: bold;
}

.google-visualization-toolbar-ok-button {
  padding: 2px;
}

.google-visualization-toolbar-triangle {
  position: absolute;
  right: 0px;
  top: 0px;
}

.google-visualization-toolbar-caption-table {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  border-collapse: collapse;
}

.google-visualization-toolbar-small-dialog {
  width: 500px;
}

.google-visualization-toolbar-big-dialog {
  width: 800px;
}

.google-visualization-toolbar-small-dialog,
.google-visualization-toolbar-big-dialog {
  position: absolute;
  background-color: #c1d9ff;
  border: 1px solid #3a5774;
  padding: 8px;
}

.google-visualization-toolbar-small-dialog-bg,
.google-visualization-toolbar-big-dialog-bg {
  background-color: #ddd;
  position: absolute;
  top: 0;
  left: 0;
}

.google-visualization-toolbar-small-dialog-title,
.google-visualization-toolbar-big-dialog-title {
  background-color: #e0edfe;
  color: #000;
  cursor: pointer;
  padding: 8px;
  position: relative;
  font-size: 12pt;
  font-weight: bold;
  vertical-align: middle;
}

.google-visualization-toolbar-small-dialog-title-text,
.google-visualization-toolbar-big-dialog-title-text {
}

.google-visualization-toolbar-small-dialog-content,
.google-visualization-toolbar-big-dialog-content {
  background-color: #fff;
  padding: 4px;
  font-weight: normal;
  overflow: auto;
}

.google-visualization-toolbar-small-dialog-buttons,
.google-visualization-toolbar-big-dialog-buttons {
}

.google-visualization-toolbar-small-dialog-title-close,
.google-visualization-toolbar-big-dialog-title-close {
  background: transparent url(close_box.gif) no-repeat scroll center;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
}

.google-visualization-toolbar-small-dialog-content iframe,
.google-visualization-toolbar-big-dialog-content iframe {
  width: 500px;
  height: 700px;
  border: 1px solid black;
}

/* javascript/closure/css/common.css */
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Cross-browser implementation of the "display: inline-block" CSS property.
 * See http://www.w3.org/TR/CSS21/visuren.html#propdef-display for details.
 * Tested on IE 6 & 7, FF 1.5 & 2.0, Safari 2 & 3, Webkit, and Opera 9.
 *
 * @author attila@google.com (Attila Bodis)
 */

/*
 * Default rule; only Safari, Webkit, and Opera handle it without hacks.
 */
.goog-inline-block {
  position: relative;
  display: -moz-inline-box; /* Ignored by FF3 and later. */
  display: inline-block;
}

/*
 * Pre-IE7 IE hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
* html .goog-inline-block {
  display: inline;
}

/*
 * IE7-only hack.  On IE, "display: inline-block" only gives the element
 * layout, but doesn't give it inline behavior.  Subsequently setting display
 * to inline does the trick.
 */
*:first-child+html .goog-inline-block {
  display: inline;
}

/* javascript/closure/css/menu.css */
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for menus created by goog.ui.MenuRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


.goog-menu {
  background: #fff;
  border-color: #ccc #666 #666 #ccc;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  font: normal 13px Arial, sans-serif;
  margin: 0;
  outline: none;
  padding: 4px 0;
  position: absolute;
  z-index: 20000; /* Arbitrary, but some apps depend on it... */
}

/* javascript/closure/css/menubutton.css */
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for buttons created by goog.ui.MenuButtonRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


/* State: resting. */
.goog-menu-button {
  /* Client apps may override the URL at which they serve the image. */
  background: #ddd url(//ssl.gstatic.com/editor/button-bg.png) repeat-x top left;
  border: 0;
  color: #000;
  cursor: pointer;
  list-style: none;
  margin: 2px;
  outline: none;
  padding: 0;
  text-decoration: none;
  vertical-align: middle;
}

/* Pseudo-rounded corners. */
.goog-menu-button-outer-box,
.goog-menu-button-inner-box {
  border-style: solid;
  border-color: #aaa;
  vertical-align: top;
}
.goog-menu-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0;
}
.goog-menu-button-inner-box {
  margin: 0 -1px;
  border-width: 0 1px;
  padding: 3px 4px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-menu-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* Pre-IE7 BiDi fixes. */
* html .goog-menu-button-rtl .goog-menu-button-outer-box {
  /* @noflip */ left: -1px;
  /* @noflip */ right: auto;
}
* html .goog-menu-button-rtl .goog-menu-button-inner-box {
  /* @noflip */ right: auto;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-menu-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}
/* IE7 BiDi fix. */
*:first-child+html .goog-menu-button-rtl .goog-menu-button-inner-box {
  /* @noflip */ left: 1px;
  /* @noflip */ right: auto;
}

/* Safari-only hacks. */
::root .goog-menu-button,
::root .goog-menu-button-outer-box,
::root .goog-menu-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}
::root .goog-menu-button-caption,
::root .goog-menu-button-dropdown {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* State: disabled. */
.goog-menu-button-disabled {
  background-image: none !important;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}
.goog-menu-button-disabled .goog-menu-button-outer-box,
.goog-menu-button-disabled .goog-menu-button-inner-box,
.goog-menu-button-disabled .goog-menu-button-caption,
.goog-menu-button-disabled .goog-menu-button-dropdown {
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
* html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* IE7-only hack; ignored by all other browsers. */
*:first-child+html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* State: hover. */
.goog-menu-button-hover .goog-menu-button-outer-box,
.goog-menu-button-hover .goog-menu-button-inner-box {
  border-color: #9cf #69e #69e #7af !important; /* Hover border wins. */
}

/* State: active, open. */
.goog-menu-button-active,
.goog-menu-button-open {
  background-color: #bbb;
  background-position: bottom left;
}

/* State: focused. */
.goog-menu-button-focused .goog-menu-button-outer-box,
.goog-menu-button-focused .goog-menu-button-inner-box {
  border-color: orange;
}

/* Caption style. */
.goog-menu-button-caption {
  padding: 0 4px 0 0;
  vertical-align: top;
}

/* Dropdown arrow style. */
.goog-menu-button-dropdown {
  height: 15px;
  width: 7px;
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -388px 0;
  vertical-align: top;
}

/* Pill (collapsed border) styles. */
/* TODO(gboyer): Remove specific menu button styles and have any button support being a menu button. */
.goog-menu-button-collapse-right,
.goog-menu-button-collapse-right .goog-menu-button-outer-box,
.goog-menu-button-collapse-right .goog-menu-button-inner-box {
  margin-right: 0;
}

.goog-menu-button-collapse-left,
.goog-menu-button-collapse-left .goog-menu-button-outer-box,
.goog-menu-button-collapse-left .goog-menu-button-inner-box {
  margin-left: 0;
}

.goog-menu-button-collapse-left .goog-menu-button-inner-box  {
  border-left: 1px solid #fff;
}

.goog-menu-button-collapse-left.goog-menu-button-checked
.goog-menu-button-inner-box {
  border-left: 1px solid #ddd;
}

/* javascript/closure/css/menuitem.css */
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for menus created by goog.ui.MenuItemRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */


/**
 * State: resting.
 *
 * NOTE(mleibman,chrishenry):
 * The RTL support in Closure is provided via two mechanisms -- "rtl" CSS
 * classes and BiDi flipping done by the CSS compiler.  Closure supports RTL
 * with or without the use of the CSS compiler.  In order for them not
 * to conflict with each other, the "rtl" CSS classes need to have the @noflip
 * annotation.  The non-rtl counterparts should ideally have them as well, but,
 * since .goog-menuitem existed without .goog-menuitem-rtl for so long before
 * being added, there is a risk of people having templates where they are not
 * rendering the .goog-menuitem-rtl class when in RTL and instead rely solely
 * on the BiDi flipping by the CSS compiler.  That's why we're not adding the
 * @noflip to .goog-menuitem.
 */
.goog-menuitem {
  color: #000;
  font: normal 13px Arial, sans-serif;
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 7em on the right for shortcut. */
  padding: 4px 7em 4px 28px;
  white-space: nowrap;
}

/* BiDi override for the resting state. */
/* @noflip */
.goog-menuitem.goog-menuitem-rtl {
  /* Flip left/right padding for BiDi. */
  padding-left: 7em;
  padding-right: 28px;
}

/* If a menu doesn't have checkable items or items with icons, remove padding. */
.goog-menu-nocheckbox .goog-menuitem,
.goog-menu-noicon .goog-menuitem {
  padding-left: 12px;
}

/*
 * If a menu doesn't have items with shortcuts, leave just enough room for
 * submenu arrows, if they are rendered.
 */
.goog-menu-noaccel .goog-menuitem {
  padding-right: 20px;
}

.goog-menuitem-content {
  color: #000;
  font: normal 13px Arial, sans-serif;
}

/* State: disabled. */
.goog-menuitem-disabled .goog-menuitem-accel,
.goog-menuitem-disabled .goog-menuitem-content {
  color: #ccc !important;
}
.goog-menuitem-disabled .goog-menuitem-icon {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

/* State: hover. */
.goog-menuitem-highlight,
.goog-menuitem-hover {
  background-color: #d6e9f8;
  /* Use an explicit top and bottom border so that the selection is visible
   * in high contrast mode. */
  border-color: #d6e9f8;
  border-style: dotted;
  border-width: 1px 0;
  padding-bottom: 3px;
  padding-top: 3px;
}

/* State: selected/checked. */
.goog-menuitem-checkbox,
.goog-menuitem-icon {
  background-repeat: no-repeat;
  height: 16px;
  left: 6px;
  position: absolute;
  right: auto;
  vertical-align: middle;
  width: 16px;
}

/* BiDi override for the selected/checked state. */
/* @noflip */
.goog-menuitem-rtl .goog-menuitem-checkbox,
.goog-menuitem-rtl .goog-menuitem-icon {
  /* Flip left/right positioning. */
  left: auto;
  right: 6px;
}

.goog-option-selected .goog-menuitem-checkbox,
.goog-option-selected .goog-menuitem-icon {
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -512px 0;
}

/* Keyboard shortcut ("accelerator") style. */
.goog-menuitem-accel {
  color: #999;
  /* Keyboard shortcuts are untranslated; always left-to-right. */
  /* @noflip */ direction: ltr;
  left: auto;
  padding: 0 6px;
  position: absolute;
  right: 0;
  text-align: right;
}

/* BiDi override for shortcut style. */
/* @noflip */
.goog-menuitem-rtl .goog-menuitem-accel {
  /* Flip left/right positioning and text alignment. */
  left: 0;
  right: auto;
  text-align: left;
}

/* Mnemonic styles. */
.goog-menuitem-mnemonic-hint {
  text-decoration: underline;
}

.goog-menuitem-mnemonic-separator {
  color: #999;
  font-size: 12px;
  padding-left: 4px;
}

/* Copyright 2012 Google Inc. All Rights Reserved. */

.google-visualization-tooltip-action: hover {
  background-color: #eeeeee;
}
.google-visualization-tooltip {
  border:solid 1px #bdbdbd;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
  font-size: 12px;
  padding: 0px;
  -moz-box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
}
.google-visualization-tooltip-action-list {
  list-style-type: none;
  margin: 0;
  padding: 0.5em 0em 0.5em 0em;
  cursor: hand;
}
.google-visualization-tooltip-action {
  margin: 0;
  cursor: pointer;
  padding: 0.5em 2em 0.5em 1em;
}
.google-visualization-tooltip-action:hover {
  background-color: #eeeeee;
}
.google-visualization-tooltip-item-list {
  list-style-type: none;
  margin: 1em 0 1em 0;
  padding: 0em;
}
.google-visualization-tooltip-item {
  margin: 0.65em 0em 0.65em 0em;
  padding: 0em 2em 0em 1em;
}
.google-visualization-tooltip-item-list
.google-visualization-tooltip-item:first-child {
  margin: 1em 0em 1em 0em;
}
.google-visualization-tooltip-separator {
  margin: 0;
  padding: 0;
  height: 1px;
  background-color: #dddddd;
}
.google-visualization-tooltip-square {
  display: inline-block;
  /* IE does not support inline-block fall back to float left */
  float: left;
  clear: none;
  width: 0.5em;
  height: 0.5em;
  margin: 0.16em 0.7em 0em 0em;
  border-bottom: solid 0.1em white;
}
.goog-menu {
  background: #fff;
  border-color: #ccc #666 #666 #ccc;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  font: normal 13px Arial, sans-serif;
  margin: 0;
  outline: none;
  padding: 4px 0;
  position: absolute;
  z-index: 20000;
}

.goog-menuitem {
  color: #000;
  font: normal 13px Arial, sans-serif;
  list-style: none;
  margin: 0;
  padding: 4px 7em 4px 28px;
  white-space: nowrap
}

.goog-menuitem.goog-menuitem-rtl {
  padding-left: 7em;
  padding-right: 28px
}

.goog-menu-nocheckbox .goog-menuitem,
.goog-menu-noicon .goog-menuitem {
  padding-left: 12px
}

.goog-menu-noaccel .goog-menuitem {
  padding-right: 20px
}

.goog-menuitem-content {
  color: #000;
  font: normal 13px Arial, sans-serif
}

.goog-menuitem-disabled .goog-menuitem-accel,
.goog-menuitem-disabled .goog-menuitem-content {
  color: #ccc !important
}

.goog-menuitem-disabled .goog-menuitem-icon {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity = 30)
}

.goog-menuitem-highlight,
.goog-menuitem-hover {
  background-color: #d6e9f8;
  border-color: #d6e9f8;
  border-style: dotted;
  border-width: 1px 0;
  padding-bottom: 3px;
  padding-top: 3px
}

.goog-menuitem-checkbox,
.goog-menuitem-icon {
  background-repeat: no-repeat;
  height: 16px;
  left: 6px;
  position: absolute;
  right: auto;
  vertical-align: middle;
  width: 16px
}

.goog-menuitem-rtl .goog-menuitem-checkbox,
.goog-menuitem-rtl .goog-menuitem-icon {
  left: auto;
  right: 6px
}

.goog-option-selected .goog-menuitem-checkbox,
.goog-option-selected .goog-menuitem-icon {
  background:
    url('//ssl.gstatic.com/editor/editortoolbar.png') no-repeat -512px 0
}

.goog-menuitem-accel {
  color: #999;
  direction: ltr;
  left: auto;
  padding: 0 6px;
  position: absolute;
  right: 0;
  text-align: right
}

.goog-menuitem-rtl .goog-menuitem-accel {
  left: 0;
  right: auto;
  text-align: left
}

.goog-menuitem-mnemonic-hint {
  text-decoration: underline
}

.goog-menuitem-mnemonic-separator {
  color: #999;
  font-size: 12px;
  padding-left: 4px
}

.goog-menuseparator {
  border-top: 1px solid #ccc;
  margin: 4px 0;
  padding: 0
}

.goog-combobox {
  background: #ddd repeat-x scroll left top
    url('//ssl.gstatic.com/closure/button-bg.gif');
  border: 1px solid #b5b6b5;
  font: normal small arial, sans-serif
}

.goog-combobox input {
  background-color: #fff;
  border: 0;
  border-right: 1px solid #b5b6b5;
  color: #000;
  font: normal small arial, sans-serif;
  margin: 0;
  padding: 0 0 0 2px;
  vertical-align: bottom;
  width: 200px
}

.goog-combobox input.label-input-label {
  background-color: #fff;
  color: #aaa
}

.goog-combobox .goog-menu {
  margin-top: -1px;
  width: auto;
  z-index: 1000
}

.goog-combobox-button {
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  width: 16px
}

* html .goog-combobox-button {
  padding: 0 3px
}

.goog-inline-block {
  position: relative;
  display: -moz-inline-box;
  display: inline-block
}

* html .goog-inline-block {
  display: inline
}

*:first-child+html .goog-inline-block {
  display: inline
}

.goog-menu-button {
  background: #ddd repeat-x top left
    url('//ssl.gstatic.com/editor/button-bg.png');
  border: 0;
  color: #000;
  cursor: pointer;
  list-style: none;
  margin: 2px;
  outline: none;
  padding: 0;
  text-decoration: none;
  vertical-align: middle
}

.goog-menu-button-outer-box,
.goog-menu-button-inner-box {
  border-style: solid;
  border-color: #aaa;
  vertical-align: top
}

.goog-menu-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0
}

.goog-menu-button-inner-box {
  margin: 0 -1px;
  border-width: 0 1px;
  padding: 3px 4px
}

* html .goog-menu-button-inner-box {
  left: -1px
}

* html .goog-menu-button-rtl .goog-menu-button-outer-box {
  left: -1px;
  right: auto
}

* html .goog-menu-button-rtl .goog-menu-button-inner-box {
  right: auto
}

*:first-child+html .goog-menu-button-inner-box {
  left: -1px
}

*:first-child+html .goog-menu-button-rtl .goog-menu-button-inner-box {
  left: 1px;
  right: auto
}

::root .goog-menu-button,
::root .goog-menu-button-outer-box,
::root .goog-menu-button-inner-box {
  line-height: 0
}

::root .goog-menu-button-caption,
::root .goog-menu-button-dropdown {
  line-height: normal
}

.goog-menu-button-disabled {
  background-image: none !important;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity = 30)
}

.goog-menu-button-disabled .goog-menu-button-outer-box,
.goog-menu-button-disabled .goog-menu-button-inner-box,
.goog-menu-button-disabled .goog-menu-button-caption,
.goog-menu-button-disabled .goog-menu-button-dropdown {
  color: #333 !important;
  border-color: #999 !important
}

* html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important
}

*:first-child+html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important
}

.goog-menu-button-hover .goog-menu-button-outer-box,
.goog-menu-button-hover .goog-menu-button-inner-box {
  border-color: #9cf #69e #69e #7af !important;
}

.goog-menu-button-active,
.goog-menu-button-open {
  background-color: #bbb;
  background-position: bottom left
}

.goog-menu-button-focused .goog-menu-button-outer-box,
.goog-menu-button-focused .goog-menu-button-inner-box {
  border-color: orange
}

.goog-menu-button-caption {
  padding: 0 4px 0 0;
  vertical-align: top
}

.goog-menu-button-dropdown {
  height: 15px;
  width: 7px;
  background: no-repeat -388px 0
    url('//ssl.gstatic.com/editor/editortoolbar.png');
  vertical-align: top
}

.goog-menu-button-collapse-right,
.goog-menu-button-collapse-right .goog-menu-button-outer-box,
.goog-menu-button-collapse-right .goog-menu-button-inner-box {
  margin-right: 0
}

.goog-menu-button-collapse-left,
.goog-menu-button-collapse-left .goog-menu-button-outer-box,
.goog-menu-button-collapse-left .goog-menu-button-inner-box {
  margin-left: 0
}

.goog-menu-button-collapse-left .goog-menu-button-inner-box {
  border-left: 1px solid #fff
}

.goog-menu-button-collapse-left.goog-menu-button-checked
  .goog-menu-button-inner-box {
  border-left: 1px solid #ddd
}

.google-visualization-controls-categoryfilter
  > .goog-inline-block > .goog-menu-button {
  margin-top: -4px
}

.google-visualization-controls-categoryfilter ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.google-visualization-controls-categoryfilter li.goog-inline-block {
  margin: 0.2em
}

.google-visualization-controls-categoryfilter li {
  border: 1px solid #bac8e6;
  background-color: #d0dbed;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0.2em;
  margin: 0.2em 0
}

.google-visualization-controls-categoryfilter li .goog-link-button {
  font-size: 0.9em;
  font-weight: bold;
  padding: 0 0.4em 0 0.2em;
  color: #1947a3;
  cursor: pointer
}

.google-visualization-controls-categoryfilter li .goog-link-button:hover {
  color: #6389d6
}

.google-visualization-controls-categoryfilter li .goog-link-button-disabled {
  display: none
}

.google-visualization-controls-categoryfilter li:hover {
  border: 1px solid #a3b9e6
}

.google-visualization-controls-slider-horizontal {
  border: 1px solid #6a7eac;
  background-color: #fff;
  width: 200px;
  height: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  position: relative;
  display: inline-block
}

.google-visualization-controls-slider-vertical {
  border: 1px solid #6a7eac;
  background-color: #fff;
  width: 10px;
  height: 200px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  position: relative
}

.google-visualization-controls-slider-thumb {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #6391de;
  border: 1px solid #426dc9;
  position: absolute;
  top: -3px
}

.google-visualization-controls-slider-horizontal
  .google-visualization-controls-slider-thumb {
  top: -4px
}

.google-visualization-controls-slider-vertical
  .google-visualization-controls-slider-thumb {
  left: -4px
}

.google-visualization-controls-slider-handle {
  position: absolute;
  background-color: #6a7eac;
  opacity: 0.3
}

.google-visualization-controls-slider-horizontal
  .google-visualization-controls-slider-handle {
  height: 10px
}

.google-visualization-controls-slider-vertical
  .google-visualization-controls-slider-handle {
  width: 10px
}

.google-visualization-controls-rangefilter {
  white-space: nowrap
}

.google-visualization-controls-rangefilter
  .google-visualization-controls-label {
  padding-bottom: 0.3em
}

.google-visualization-controls-rangefilter-thumblabel {
  color: #6391de;
  font-weight: bold;
  padding: 0 0.2em
}

.google-visualization-controls-stringfilter input {
  border: 1px solid #6a7eac
}

.google-visualization-controls-stringfilter input:focus {
  border-color: orange
}

.google-visualization-controls-stringfilter
  .google-visualization-controls-label {
  padding-top: 0.3em
}

.google-visualization-controls-label {
  display: inline-block;
  vertical-align: top;
  padding-right: 0.5em;
}
.google-visualization-formatters-arrow-dr {
  padding-left: 13px !important;
  background: url(arrow_dr.png) no-repeat left;
  border: 1px solid #eee;
}

.google-visualization-formatters-arrow-ug {
  padding-left: 13px !important;
  background: url(arrow_ug.png) no-repeat left;
  border: 1px solid #eee;
}

.google-visualization-formatters-arrow-empty {
  padding-left: 13px !important;
  border: 1px solid #eee;
}
.goog-inline-block {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
}
* html .goog-inline-block, *:first-child+html .goog-inline-block {
  display: inline;
}
.goog-custom-button {
  margin: 2px;
  border: 0;
  padding: 0;
  font-family: Arial , sans-serif;
  color: #000;
  background: #ddd url(//ssl.gstatic.com/editor/button-bg.png) repeat-x top left;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: default;
  outline: none;
}
.goog-custom-button-outer-box, .goog-custom-button-inner-box {
  border-style: solid;
  border-color: #aaa;
  vertical-align: top;
}
.goog-custom-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0;
}
.goog-custom-button-inner-box {
  margin: 0 -1px;
  border-width: 0 1px;
  padding: 3px 4px;
  white-space: nowrap;
}
* html .goog-custom-button-inner-box {
  left: -1px;
}
* html .goog-custom-button-rtl .goog-custom-button-outer-box {
  left: -1px;
}
* html .goog-custom-button-rtl .goog-custom-button-inner-box {
  right: auto;
}
*:first-child+html .goog-custom-button-inner-box {
  left: -1px;
}
*:first-child+html .goog-custom-button-rtl .goog-custom-button-inner-box {
  left: 1px;
}
::root .goog-custom-button {
  line-height: 0;
}
::root .goog-custom-button-outer-box {
  line-height: 0;
}
::root .goog-custom-button-inner-box {
  line-height: normal;
}
.goog-custom-button-disabled {
  background-image: none !important;
  opacity: .3;
  -moz-opacity: .3;
  filter: alpha(opacity=30);
}
.goog-custom-button-disabled .goog-custom-button-outer-box, .goog-custom-button-disabled .goog-custom-button-inner-box {
  color: #333 !important;
  border-color: #999 !important;
}
* html .goog-custom-button-disabled, *:first-child+html .goog-custom-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}
.goog-custom-button-hover .goog-custom-button-outer-box, .goog-custom-button-hover .goog-custom-button-inner-box {
  border-color: #9cf #69e #69e #7af !important;
}
.goog-custom-button-active, .goog-custom-button-checked {
  background-color: #bbb;
  background-position: bottom left;
}
.goog-custom-button-focused .goog-custom-button-outer-box, .goog-custom-button-focused .goog-custom-button-inner-box {
  border-color: orange;
}
.goog-custom-button-collapse-right, .goog-custom-button-collapse-right .goog-custom-button-outer-box, .goog-custom-button-collapse-right .goog-custom-button-inner-box {
  margin-right: 0;
}
.goog-custom-button-collapse-left, .goog-custom-button-collapse-left .goog-custom-button-outer-box {
  margin-left: 0;
}
.goog-custom-button-collapse-left .goog-custom-button-inner-box {
  margin-left: 0;
  border-left: 1px solid #fff;
}
.goog-custom-button-collapse-left.goog-custom-button-checked .goog-custom-button-inner-box {
  border-left: 1px solid #ddd;
}
* html .goog-custom-button-collapse-left .goog-custom-button-inner-box, *:first-child+html .goog-custom-button-collapse-left .goog-custom-button-inner-box {
  left: 0;
}
.goog-flat-button {
  position: relative;
  margin: 2px;
  border: 1px solid #000;
  padding: 2px 6px;
  font: normal 13px "Trebuchet MS" , Tahoma , Arial , sans-serif;
  color: #fff;
  background-color: #8c2425;
  cursor: pointer;
  outline: none;
}
.goog-flat-button-disabled {
  border-color: #888;
  color: #888;
  background-color: #ccc;
  cursor: default;
}
.goog-flat-button-hover {
  border-color: #8c2425;
  color: #8c2425;
  background-color: #eaa4a5;
}
.goog-flat-button-active, .goog-flat-button-selected, .goog-flat-button-checked {
  border-color: #5b4169;
  color: #5b4169;
  background-color: #d1a8ea;
}
.goog-flat-button-focused {
  border-color: #5b4169;
}
.goog-flat-button-collapse-right {
  margin-right: 0;
}
.goog-flat-button-collapse-left {
  margin-left: 0;
  border-left: none;
}
.goog-button {
  color: #036;
  border-color: #036;
  background-color: #69c;
}
.goog-button-disabled {
  border-color: #333;
  color: #333;
  background-color: #999;
}
.goog-button-hover {
  color: #369;
  border-color: #369;
  background-color: #9cf;
}
.goog-button-active {
  color: #69c;
  border-color: #69c;
}
.google-visualization-table {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
}
.google-visualization-table * {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.google-visualization-table>div:first-child {
  border: solid #eee;
  border-width: 0;
}
.google-visualization-table>div:first-child.scrolling .google-visualization-table-table th, .google-visualization-table>div:first-child.scrolling .google-visualization-table-table .frozen-column {
  visibility: hidden;
  opacity: 0;
  color: transparent;
}
.google-visualization-table>div:first-child.doneScrolling .google-visualization-table-table th {
  -webkit-transition: opacity .25s ease-in .1s;
  -o-transition: opacity .25s ease-in .1s;
  transition: opacity .25s ease-in .1s;
}
.google-visualization-table>div:first-child.doneScrolling .google-visualization-table-table .frozen-column {
  -webkit-transition: visibility , opacity .15s ease-in .15s;
  -o-transition: visibility , opacity .15s ease-in .15s;
  transition: visibility , opacity .15s ease-in .15s;
}
.google-visualization-table-table {
  font-family: arial , helvetica;
  font-size: 10pt;
  cursor: default;
  margin: 0;
  background: white;
  border-spacing: 0;
  border-collapse: separate;
}
.google-visualization-table-table * {
  margin: 0;
}
.google-visualization-table .gradient {
  background-image: url("//ssl.gstatic.com/charts/static/table-title-bg.gif") repeat-x left bottom;
  background-image: -moz-linear-gradient(top,rgba(255,255,255,0.8)  0%,rgba(255,255,255,0.7)  30%,rgba(255,255,255,0.5)  60%,rgba(255,255,255,0)  100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0.8)) ,color-stop(30%,rgba(255,255,255,0.7)) ,color-stop(60%,rgba(255,255,255,0.5)) ,color-stop(100%,rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.8)  0%,rgba(255,255,255,0.7)  30%,rgba(255,255,255,0.5)  60%,rgba(255,255,255,0)  100%);
  background-image: -o-linear-gradient(top,rgba(255,255,255,0.8)  0%,rgba(255,255,255,0.7)  30%,rgba(255,255,255,0.5)  60%,rgba(255,255,255,0)  100%);
  background-image: -ms-linear-gradient(top,rgba(255,255,255,0.8)  0%,rgba(255,255,255,0.7)  30%,rgba(255,255,255,0.5)  60%,rgba(255,255,255,0)  100%);
  background-image: linear-gradient(to bottom,rgba(255,255,255,0.8)  0%,rgba(255,255,255,0.7)  30%,rgba(255,255,255,0.5)  60%,rgba(255,255,255,0)  100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffffff',endColorstr='#00ffffff',GradientType=0);
}
.google-visualization-table-tr-head {
  background-color: #e4e9f4;
  font-weight: bold;
  text-align: center;
}
.google-visualization-table-sorthdr {
  cursor: pointer;
}
.google-visualization-table-sortind {
  color: #ccc;
  padding-left: 4px;
}
.unsorted .google-visualization-table-sortind {
  display: none;
}
.unsorted .google-visualization-table-sortind:after {
  content: "\2003";
}
.sort-ascending .google-visualization-table-sortind:after {
  content: "\25b2";
}
.sort-descending .google-visualization-table-sortind:after {
  content: "\25bc";
}
.google-visualization-table-th {
  cursor: pointer;
  white-space: nowrap;
}
.google-visualization-table-td {
  overflow: hidden;
}
.google-visualization-table-th, .google-visualization-table-td {
  padding: 2px .35em;
  background-color: inherit;
  background-clip: padding-box;
}
.google-visualization-table-table th, .google-visualization-table-table td {
  border: solid #eee;
  border-width: 0 1px 1px 0;
  padding: 2px .35em;
}
.google-visualization-table-table th {
  position: relative;
  z-index: 10;
}
.google-visualization-table-table td.frozen-column {
  position: relative;
  z-index: 5;
}
.google-visualization-table-table thead th.frozen-column {
  z-index: 15;
}
.google-visualization-table-table .last-frozen-column {
  border-right: 2px ridge #eee;
}
.google-visualization-table-tr-even {
  background-color: #fff;
}
.google-visualization-table-tr-odd {
  background-color: #fafafa;
}
.google-visualization-table-tr-sel {
  background-color: #d6e9f8;
}
.google-visualization-table-tr-over {
  background-color: #e7e9f9;
}
.google-visualization-table-td-bool {
  text-align: center;
  font-family: "Arial Unicode MS" , Arial , Helvetica;
}
.google-visualization-table-td-center {
  text-align: center;
}
.google-visualization-table-td-number {
  text-align: right;
  white-space: nowrap;
}
.google-visualization-table-seq {
  text-align: right;
  color: #666;
}
.google-visualization-table-div-page {
  display: inline-block;
  width: 100%;
  padding: 1px 0 0 1px;
  border: 0;
  background-color: #e4e9f4;
  font-family: Arial , sans-serif;
}
.google-visualization-table-div-page [role="button"] {
  display: inline-block;
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: "Arial Unicode MS" , Arial , Helvetica;
  font-size: 10px;
  line-height: 10px;
}
.google-visualization-table-div-page [role="button"] .goog-custom-button-inner-box {
  padding: 1px 1px 2px;
}
.google-visualization-table-page-prev:before {
  content: "\25c4";
}
.google-visualization-table-page-next:before {
  content: "\25ba";
}
.google-visualization-table-page-numbers {
  display: inline-block;
  zoom: 1;
  margin: 0;
  vertical-align: middle;
}
.ie8 .google-visualization-table-page-numbers {
  display: inline;
}
.google-visualization-table-page-number {
  display: inline-block;
  background-color: #e4e9f4;
  border: 1px ButtonShadow outset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: black;
  font-size: 10px;
  min-width: 10px;
  margin: 2px;
  padding: 0 2px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
.google-visualization-table-page-number.current {
  font-weight: bold;
  font-size: 11px;
  background: #fefefe;
  border-style: inset;
}
.google-visualization-table-page-number:hover {
  background: #fefefe;
  border-style: inset;
}
.google-visualization-table .transparent {
  background-image: none;
  background-color: transparent;
  border-color: transparent;
}
.google-visualization-table .transparentIE6 {
  background: none;
}
.google-visualization-table th .transparent, .google-visualization-table td .transparent {
  color: transparent;
  opacity: 0;
}
.google-visualization-table .google-visualization-hidden {
  visibility: hidden;
  pointer-events: none;
}
.google-visualization-table-loadtest {
  padding-left: 6px;
}
