html { 
  background: url(http://api.ning.com/files/QkaAJPrWqBNNfo42aAHCyaTZcPLKFom9cArBmCCfxN-k4zrwuf26xTZbXYD9JhrgFTAhll4*KMet8Gd1YJdAiw__/georgia.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}