html { 
  background: url(http://api.ning.com/files/uslZrQwya1e777*Nn-pQrVIwHC9Gq7r43Ms0l3bHRPbsZv-a1MdsBJNNIoZnOhRSN0m2hHVB2pvwiuzQ4rAh8SWy6pO9dJek/MOUNTAIN.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}