html { 
  background: url(https://storage.ning.com/topology/rest/1.0/file/get/718766699?profile=original) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
