html { 
  background: url(http://api.ning.com:80/files/xjl341ByOlasMnViq0O8*YC68tudR2q4UbiSWNWF0X6nXhJ6WUEFunk2zke6QsvH1wExKXmk6KizWrJ73lJokbaOi9SoV06n/lasers.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}