html { 
  background: url(http://api.ning.com/files/E5SYGSA0L32JILgOs7NHXEaOMg6pQR*3Mk10jlECgulF*G5IbGATKZiYmPcffj39I5suBfvuVwzcq6JfQDaX1UcVevDPXZFv/law.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}