html { 
  background: url(http://api.ning.com:80/files/5qfvlmkaLgXW4mBsql2AItn6eCITT9bu2J0qH6qDI6k5uuXTrEvYDjfejWD20k4Q-uUXu*a6WuNA*SczO7YCKWCO8wNIhwo4/magellan.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}