html { 
  background: url(http://api.ning.com/files/IsqAJcAdtUL2HjqHKG6h80OSRJurarNWtfe6liDGLWul3dvkeTFOLw7I8BracIvlr2NuAojm8OLZHAyAfq7o75f24zIhy-SO/MICHIGAN.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}