html { 
  background: url(http://api.ning.com/files/mKbaZehG0U7USFKxj81*D*c8Zl9vBHKMUdnR-UOt2t*uPWtaIrxDpCI7DGE35vvSBY0HH06fKjqRRF5DA3JNeg__/minnesota.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}