html { 
  background: url(http://api.ning.com/files/CnmfgTHWa2tOeH8NDGITGFwAxxtkCUT0ijbEPpHdPA7Jk7tJL0PNIxCGiGZIgyyxSbZgLpMoZ-KTdEsILPJy-IGzU4N2cR1C/newmexicosurveyors.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}