.subnav-more > ul { background-color: white; border-radius: 5px 5px 5px 5px; margin-top: 5px;}
.entry-title > a {color: #1f1f1f; font-weight: normal; font-family: 'Fira Sans', sans-serif;}
.entry-title > a:hover {font-weight: normal; font-family: 'Fira Sans', sans-serif;}
.entry-title > a:active {font-weight: normal; font-family: 'Fira Sans', sans-serif;}
.module-footer.cf > a {float:none;}
.xg_module > .pagination.clear {padding-bottom: 15px;}

/* @media screen and (min-width: 575px) {
.page-home article.entry.blogSection-entry .media-frame > .media-img { position: relative; top: 55px;z-index: 20;}
.page-home article.entry.blogSection-entry .media-frame > .media-body { overflow: hidden; padding-top: 1px; position: relative; width: 100%; top: -44px; left: 5%;}}
*/
div.card {border-style: solid;
    border-width: 5px;
border-color:rgba(68, 189, 50,0.8);}
div.card-content:hover {background:rgba(251, 197, 49,1.0);}
