html { 
  background: url(http://api.ning.com/files/sUlgKksqRyHD093z-82ab1uIKxP2PVD*viMnOHN1hTPKkqqwlgGp8VarZne5q7rx8c-cauTWcfIhZHlfRQp77Q__/newyork.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}