html { 
  background: url(http://api.ning.com/files/sUlgKksqRyEleRTFjn6aTNsqw92jT6P*JfFTV*YuorGCFh00X8OrAWx5z7j6slg0Qu2ZzsyvbjR2Zk*KwWbLgQ__/Pennsylvania.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}