html { 
  background: url(http://api.ning.com/files/w-bHw25DGmShI5VJGdQGLHZXLesoBOueUbIIWfpaFHjuJRSuYX0*p-UjwJuqPbXgaxwXEo6W6AcK*ms5MqkYXZAKu*iCCvQT/RUSSIA.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}