html { 
  background: url(http://api.ning.com/files/zwKRJ5YZG0NNYl-NEkW121tzk*JBfXL6nYJh3HwoJAeoXjR3GQKrMk0*TJnnCnIOQjQkloYJaqWXuPnqR6QFBQ__/sokkiabg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}