html { 
  background: url(http://api.ning.com:80/files/q4eU1d1H9fAgi0vIlULs1wUm4yyUZ*2roJ-zBBdo*QLkVLO35exPRrH5w3W6VG*23l*HIX7HyahKURtrKVdotar8ML86LyOU/sstarsbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
