.xg_widget_groups_group_show .xg_3col, .xg_span-16 {width: 938px;}

.xg_widget_groups_group_show .xg_span-12 {width: 745px;float: right;}

.xg_widget_groups_group_show .xj_classic_sidebar {display: none;}

.xg_widget_groups_group_show .xg_span-8 {width: 555px;margin-top: 32px;}
.module_photo .body_list .clist img {
width: 136px;
height: 102px!important; margin-left:12px;
}
/* supergroup classes */

.xg_widget_groups_group_show .xg_span-12 {
   width:748px;
}

.xg_widget_groups_group_show .xg_span-12 img {
max-width:737px;
_width:expression(this.width > 737 ? 737: true);
}

.xg_widget_groups_group_show .xg_span-12 .xg_reset img {
max-width:721px;
_width:expression(this.width > 721 ? 721: true);
}

.xg_widget_groups_group_show .xg_span-4 img {
max-width:120px;
}

.xg_widget_groups_group .xg_headline-img .tb {
     margin-left:1px !important;
}

.xg_widget_groups_group .xg_headline .ib {
     width:1px !important;
}

.xg_widget_groups_group .xg_headline-2l .photo,
.xg_widget_groups_group .xg_headline-2l ul {
           display: none !important;
}

.xg_widget_groups_group .xg_module_body .xg_span-8 {
margin-left:-50px;
width:571px;
}
