html { 
  background: url(http://api.ning.com/files/OXwvCRUhjhCI1iOXlSvh15J5rBX3LI1mnk4LwtC1fprRbWZMQpfSewxC96JrDhs81ES1QxdoDGUp2x-zn9XPoQ__/tenn.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}