html { 
  background: url(http://api.ning.com:80/files/921Jqs6UN3H8etN12SN*peTOvx0IF9rbCVqg-JYynKhj4eZN066b5LqYH377-FxJeeH-pvdpL-iNiItxl8-lxglsuDGu3F7U/usalandsurveyors.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.xg_widget_groups .xg_headline .tb ul.byline li{
display:none !important;
}
.xg_widget_groups .dy-avatar-64{
display:none;
}
.myspan {
    display: block;
}