html { 
  background: url(http://api.ning.com/files/B2Z-YwjdJzzNx7*LrSa-JXDNlK3Lstb7n27Zz7Nl-ZOk2P6ETmdUP26WKM3HjSp8HIK6fjSCdkSfzemkESkQ-AkDfGQzzx2F/WYOMING.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}