html { 
  background: url(http://api.ning.com/files/sIy4dDbHyo4MF3aewiV-BZoPOjzR1E8AfLxLZtxJ9Rrw3r8FE1jwAXBKx7zoaajyRfzcColtsmAr6-oT-OBJkQ__/WVirginia.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}