html { 
  background: url(http://api.ning.com/files/*W7mGWtSVLx-qtOI3kXjxg97SUTE5o7eGusfoF2427fr*LGsAEH7Dr1*sNzcsNCFQvJjFYw8CjCEIjSs3wj9D-dzgo0TflfW/WYOMING.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}