body:before{content:",";
    background-image: url('http://api.ning.com:80/files/Zv0e1bgizgL8rEsD5L4Lp-3BnPGyGTdUffXFSOKf8o*Il1qnLHhfd*4dpVuEdWFysZrtQhJFEB4CDDKKsLw0n-SbziBEX0RR/hawaii.jpg');
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;}
	
.sheet{
border: 0px double #6195c5;
background-color: fcd25c;
background-repeat: repeat;
}

#construction {
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1000;
	font-size: 2.7em;
	color: black;
	font-weight: bold;
	-webkit-transform: rotate(315deg) scale(1) skew(1deg) translate(-200px, 0);
	-moz-transform: rotate(315deg) scale(1) skew(1deg) translate(-200px, 0);
	-o-transform: rotate(315deg) scale(1) skew(1deg) translate(-200px, 0);
	-ms-transform: rotate(315deg) scale(1) skew(1deg) translate(-200px, 0);
	transform: rotate(315deg) scale(1) skew(1deg) translate(-200px, 0);
	background-image: repeating-linear-gradient(55deg, rgb(255, 255, 255), rgb(255, 255, 255) 50px, rgb(248, 174, 94) 50px, rgb(252, 144, 3) 110px);
	-webkit-box-shadow:  5px 5px 10px 0 rgba(0, 0, 0, .2);
	box-shadow:  5px 5px 10px 0 rgba(0, 0, 0, .2);
}

#construction p {
	margin: 0;
  /* color: #F2F2F2; */
	border-top: 1px solid #eee;

}