$animationDuration: 30s;

body {
  line-height: 1.25;
  width: 100%;
}
a {
  color: #ccc;
}
header, section {
  padding: 0;
}

header {
  background-color: #333;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

section {
  background-image: url(https://i.imgur.com/uh5YLj5.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.skew-title {
  background-color: rgba(0,0,0,.85);
  color: #eee;
  opacity: 0;
  pointer-events: none;
  font-size: .75rem;
  padding: 3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15rem;
  z-index: 10;
  transform: skew(-15deg,0);
  transition: all .125s ease-in-out;
  
  section:hover & {
    opacity: 1;
    pointer-events: auto;
  }  
  & > div {

    transform: skew(15deg,0);
  }
  & h2 {
    text-transform: uppercase;
  }
}
.skew-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.skew-image > div {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  animation-duration: $animationDuration;
  animation-iteration-count: infinite;
  
  &:nth-of-type(1) {
    animation-name: skewShift1;
    left: 0;
    width: 15rem;
    &:before {
      animation-name: skewBgShift1;
      -webkit-filter: blur(2px);
    }
  }
  &:nth-of-type(2) {
    animation-name: skewShift2;
    right: -15rem;
    width: 15rem;
    &:before {
      margin-left: -100vw;
      animation-name: skewBgShift2;
      -webkit-filter: blur(5px) grayscale(100%) contrast(125%);
    }
  }
  

}
.skew-image > div:before {
  background-image: url(https://i.imgur.com/uh5YLj5.jpg);
  background-position: center center;
  background-size: cover;
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
  animation-duration: $animationDuration;
  animation-iteration-count: infinite;
}

@-webkit-keyframes skewShift1 {
  0%   { transform: translate3d(0,0,0)     skew(15deg,0); }
  50%  { transform: translate3d(40rem,0,0) skew(15deg,0); width: 30rem; }
  100% { transform: translate3d(0,0,0)     skew(15deg,0); }
}
@-webkit-keyframes skewBgShift1 {
  0%   { transform: translate3d(0,0,0)      scale(1.25) skew(-15deg,0); }
  50%  { transform: translate3d(-40rem,0,0) scale(1.25) skew(-15deg,0); }
  100% { transform: translate3d(0,0,0)      scale(1.25) skew(-15deg,0); }
}
@-webkit-keyframes skewShift2 {
  0%   { transform: translate3d(0,0,0)      skew(-15deg,0); }
  50%  { transform: translate3d(-60rem,0,0) skew(-15deg,0); }
  100% { transform: translate3d(0,0,0)      skew(-15deg,0); }
}
@-webkit-keyframes skewBgShift2 {
  0%   { transform: translate3d(0,0,0)      scale(1) skew(15deg,0); }
  50%  { transform: translate3d(60rem,0,0)  scale(1) skew(15deg,0); }
  100% { transform: translate3d(0,0,0)      scale(1) skew(15deg,0); }
}