body { border: 0px double #fd0e19;
background-image: url(https://dl.dropbox.com/u/49702/images/greece.jpg);
background-color: transparent;
background-repeat: no-repeat;
background-position: left top;
background-attachment: fixed;
}
.xg_widget_groups .xg_headline .tb ul.byline li{
display:none !important;
}
.xg_widget_groups .xg_headline .dy-avatar-64{
display:none;
} 
.xg_widget_groups .member_item_thumbnail{
display: display !important;
}
.myspan {
    display: block;
}


