body { border: 0px double #001c5a;
background-image: url(http://api.ning.com:80/files/V5OuR7izGNeyNg2Mscv0uXhFz*W-C9lUsWdj7N3StBLO6f3SC23WZxfvVjNqVATn97YzJUQBpb5ONUzwXeqwmw__/Maryland.jpg);
background-color: transparent;
background-repeat: no-repeat;
background-position: left center;
background-attachment: fixed;
}
