body { border: 0px double #001c5a;
background-image: url(https://dl.dropbox.com/u/49702/images/shelf/tsunami.jpg);
background-color: #000000;
background-repeat: no-repeat;
background-position: left center;
background-attachment: fixed;
}