#DIV_ARROW {
    color: rgb(245, 245, 250);
    height: 120px;
    left: 380px;
    overflow-wrap: break-word;
    position: absolute;
    top: 188px;
    width: 270px;
    word-wrap: break-word;
    align-self: stretch;
    perspective-origin: 135px 60px;
    transform-origin: 135px 60px;
    border: 0px none rgb(245, 245, 250);
    font: normal normal bold normal 15.6px / 20.28px 'Century Gothic', AppleGothic, Helvetica, sans-serif;
    outline: rgb(245, 245, 250) none 0px;
}/*#DIV_1*/

#IMG_2 {
    color: rgb(245, 245, 250);
    display: block;
    float: left;
    height: 106px;
    max-width: 717px;
    overflow-wrap: break-word;
    width: 110px;
    word-wrap: break-word;
    perspective-origin: 55px 53px;
    transform-origin: 55px 53px;
    border: 0px none rgb(245, 245, 250);
    font: normal normal bold normal 15.6px / 20.28px 'Century Gothic', AppleGothic, Helvetica, sans-serif;
    margin: 0px 10px 0px 0px;
    outline: rgb(245, 245, 250) none 0px;
}/*#IMG_2*/

#P_3 {
    color: rgb(245, 245, 250);
    height: 40px;
    overflow-wrap: break-word;
    width: 270px;
    word-wrap: break-word;
    perspective-origin: 135px 20px;
    transform-origin: 135px 20px;
    border: 0px none rgb(245, 245, 250);
    font: normal normal bold normal 15.6px / 20.28px 'Century Gothic', AppleGothic, Helvetica, sans-serif;
    margin: 75px 0px 5px;
    outline: rgb(245, 245, 250) none 0px;
}/*#P_3*/

h5 {
  font-size: 200%;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

        /* Force table to not be like tables anymore */
        table.responsive, .responsive thead, .responsive tbody, .responsive th, .responsive td, .responsive tr { 
                display: block; 
        }
        
        /* Hide table headers (but not display: none;, for accessibility) */
        .responsive thead tr { 
                position: absolute;
                top: -9999px;
                left: -9999px;
        }
        
        .responsive tr { border: 1px solid #ccc; }
        
        .responsive td { 
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee; 
                position: relative;
                padding-left: 50%; 
        }
        
        .responsive td:before { 
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%; 
                padding-right: 10px; 
                white-space: nowrap;
        }
        
        /*
        Label the data
        */
        .responsive td:before { content: attr(data-table-header); }
}

.table-responsive .bootstrap {
  min-height: .01%;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .table-responsive.bootstrap {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive.bootstrap > .table {
    margin-bottom: 0;
  }
  .table-responsive.bootstrap > .table > thead > tr > th,
  .table-responsive.bootstrap > .table > tbody > tr > th,
  .table-responsive.bootstrap > .table > tfoot > tr > th,
  .table-responsive.bootstrap > .table > thead > tr > td,
  .table-responsive.bootstrap > .table > tbody > tr > td,
  .table-responsive.bootstrap > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive.bootstrap > .table-bordered {
    border: 0;
  }
  .table-responsive.bootstrap > .table-bordered > thead > tr > th:first-child,
  .table-responsive.bootstrap > .table-bordered > tbody > tr > th:first-child,
  .table-responsive.bootstrap > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive.bootstrap > .table-bordered > thead > tr > td:first-child,
  .table-responsive.bootstrap > .table-bordered > tbody > tr > td:first-child,
  .table-responsive.bootstrap > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive.bootstrap > .table-bordered > thead > tr > th:last-child,
  .table-responsive.bootstrap > .table-bordered > tbody > tr > th:last-child,
  .table-responsive.bootstrap > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive.bootstrap > .table-bordered > thead > tr > td:last-child,
  .table-responsive.bootstrap > .table-bordered > tbody > tr > td:last-child,
  .table-responsive.bootstrap > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive.bootstrap > .table-bordered > tbody > tr:last-child > th,
  .table-responsive.bootstrap > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive.bootstrap > .table-bordered > tbody > tr:last-child > td,
  .table-responsive.bootstrap > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div {
  display: block;
}

.toggle-box + label:before {
  background-color: #4F5150;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked + label:before {
  content: "\2212";
}