.playlist-thumbs:before,
.playlist-thumbs:after {
  content: "";
  display: table;
}
.playlist-thumbs:after {
  clear: both;
}
.video-thumb {
  float: left;
  margin: 0 0.5rem;
  border: 2px solid black;
  padding: 0.5rem;
  &.is-active {
    border-color: blue;
    background-color: rgba(blue,0.25);
  }
}

button {
  appearance: none;
  border: 1px solid;
  padding: 0.5em 1em;
  background: none;
  font-size: 1em;
}